USE [DynamicContent]
GO
/****** Object:  Table [dbo].[AssetFields]    Script Date: 6/5/2026 8:52:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AssetFields](
	[ID] [varchar](100) NOT NULL,
	[FieldName] [varchar](max) NULL,
	[FieldType] [varchar](100) NULL,
 CONSTRAINT [PK_AssetFields] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AssetItem]    Script Date: 6/5/2026 8:52:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AssetItem](
	[ID] [varchar](100) NOT NULL,
	[ItemName] [varchar](100) NULL,
	[ItemPath] [varchar](100) NULL,
	[SchemaID] [varchar](100) NULL,
	[IsPageItem] [bit] NULL,
	[MasterPageLayoutPath] [varchar](100) NULL,
 CONSTRAINT [PK_AssetItem] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AssetItemFields]    Script Date: 6/5/2026 8:52:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AssetItemFields](
	[ID] [varchar](100) NOT NULL,
	[AssetFieldID] [varchar](100) NULL,
	[AssetFieldValue] [varchar](max) NULL,
	[AssetSchemaID] [varchar](max) NULL,
	[AssetItemID] [varchar](100) NULL,
 CONSTRAINT [PK_AssetItemFields] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AssetSchema]    Script Date: 6/5/2026 8:52:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AssetSchema](
	[ID] [varchar](100) NOT NULL,
	[SchemaName] [varchar](max) NULL,
	[SchemaPath] [varchar](max) NULL,
 CONSTRAINT [PK_AssetSchema] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AssetSchemaFields]    Script Date: 6/5/2026 8:52:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AssetSchemaFields](
	[ID] [varchar](100) NOT NULL,
	[SchemaID] [varchar](100) NULL,
	[FieldTypeID] [varchar](100) NULL,
	[FieldData] [nvarchar](max) NULL,
	[FieldName] [varchar](100) NULL,
 CONSTRAINT [PK_AssetSchemaFields] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PageContent]    Script Date: 6/5/2026 8:52:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PageContent](
	[PageUrl] [varchar](max) NULL,
	[PageContent] [nvarchar](max) NULL,
	[PageUpdatedDate] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[AssetFields] ADD  CONSTRAINT [DF_AssetFields_ID]  DEFAULT (newid()) FOR [ID]
GO
ALTER TABLE [dbo].[AssetItem] ADD  CONSTRAINT [DF_AssetItem_ID]  DEFAULT (newid()) FOR [ID]
GO
ALTER TABLE [dbo].[AssetItem] ADD  CONSTRAINT [DF_AssetItem_SchemaID]  DEFAULT (newid()) FOR [SchemaID]
GO
ALTER TABLE [dbo].[AssetItemFields] ADD  CONSTRAINT [DF_AssetItemFields_ID]  DEFAULT (newid()) FOR [ID]
GO
ALTER TABLE [dbo].[AssetItemFields] ADD  CONSTRAINT [DF_AssetItemFields_AssetItemID]  DEFAULT (newid()) FOR [AssetItemID]
GO
ALTER TABLE [dbo].[AssetSchema] ADD  CONSTRAINT [DF_AssetSchema_ID]  DEFAULT (newid()) FOR [ID]
GO
ALTER TABLE [dbo].[AssetSchemaFields] ADD  CONSTRAINT [DF_AssetSchemaFields_ID]  DEFAULT (newid()) FOR [ID]
GO
ALTER TABLE [dbo].[AssetItemFields]  WITH CHECK ADD  CONSTRAINT [FK_AssetItemFields_AssetItem] FOREIGN KEY([AssetItemID])
REFERENCES [dbo].[AssetItem] ([ID])
GO
ALTER TABLE [dbo].[AssetItemFields] CHECK CONSTRAINT [FK_AssetItemFields_AssetItem]
GO
ALTER TABLE [dbo].[AssetItemFields]  WITH CHECK ADD  CONSTRAINT [FK_AssetItemFields_AssetItemFields] FOREIGN KEY([ID])
REFERENCES [dbo].[AssetItemFields] ([ID])
GO
ALTER TABLE [dbo].[AssetItemFields] CHECK CONSTRAINT [FK_AssetItemFields_AssetItemFields]
GO
ALTER TABLE [dbo].[AssetSchema]  WITH CHECK ADD  CONSTRAINT [FK_AssetSchema_AssetSchema] FOREIGN KEY([ID])
REFERENCES [dbo].[AssetSchema] ([ID])
GO
ALTER TABLE [dbo].[AssetSchema] CHECK CONSTRAINT [FK_AssetSchema_AssetSchema]
GO
ALTER TABLE [dbo].[AssetSchemaFields]  WITH CHECK ADD  CONSTRAINT [FK_AssetSchemaFields_FieldID_AssetFields_ID] FOREIGN KEY([FieldTypeID])
REFERENCES [dbo].[AssetFields] ([ID])
GO
ALTER TABLE [dbo].[AssetSchemaFields] CHECK CONSTRAINT [FK_AssetSchemaFields_FieldID_AssetFields_ID]
GO
ALTER TABLE [dbo].[AssetSchemaFields]  WITH CHECK ADD  CONSTRAINT [FK_AssetSchemaFields_SchemaID_AssetSchema_ID] FOREIGN KEY([SchemaID])
REFERENCES [dbo].[AssetSchema] ([ID])
GO
ALTER TABLE [dbo].[AssetSchemaFields] CHECK CONSTRAINT [FK_AssetSchemaFields_SchemaID_AssetSchema_ID]
GO
/****** Object:  StoredProcedure [dbo].[dca_get_page_content]    Script Date: 6/5/2026 8:52:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE  PROCEDURE [dbo].[dca_get_page_content]
	@PageUrl  varchar(500) 
	

AS
BEGIN

		SELECT 
                PageUrl,
				PageContent

	            FROM 
	                 dbo.PageContent  
					 WHERE   PageUrl = @PageUrl	
END;
GO
/****** Object:  StoredProcedure [dbo].[dca_get_schema]    Script Date: 6/5/2026 8:52:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE  PROCEDURE [dbo].[dca_get_schema]
	@SchemaID  VARCHAR(100) = NULL
	

AS

if( @SchemaID!= NULL)
BEGIN
		select asf.SchemaID  , asa.SchemaName, asa.SchemaPath, asf.FieldID, af.FieldName, af.FieldType
		from AssetSchema asa 
		inner join AssetSchemaFields  asf 
		on asa.ID = asf.SchemaID
		inner join AssetFields af 
		on asf.FieldID= af.ID
		where asa.id= @SchemaID 
END
else 
BEGIN 
		select asf.SchemaID  , asa.SchemaName, asa.SchemaPath, asf.FieldID, af.FieldName, af.FieldType
		from AssetSchema asa 
		inner join AssetSchemaFields  asf 
		on asa.ID = asf.SchemaID
		inner join AssetFields af 
		on asf.FieldID= af.ID
		order by asa.SchemaName
END

-- EXEC dca_get_schema @SchemaID ='74826E3E-C2EA-45DC-A328-43F115F45161'
--EXEC dca_get_schema 
GO
/****** Object:  StoredProcedure [dbo].[dca_insert_asset_item]    Script Date: 6/5/2026 8:52:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE  PROCEDURE [dbo].[dca_insert_asset_item]
	@ItemName  varchar(200), 
	@ItemPath varchar(200), 
	@SchemaID  varchar(200),
	@IsPageItem bit = 0,
	@MasterPageLayoutPath  varchar(200) =''

AS

  if(@IsPageItem = 0)
  Begin 
       INSERT INTO dbo.AssetItem (
           
	            ItemName ,
	            ItemPath ,
				SchemaID,
				 IsPageItem,
				MasterPageLayoutPath
	            
        )
        VALUES (
           @ItemName  ,
			 @ItemPath,
				@SchemaID,
				0,
				''
			 )
   
        
END
ELSE
BEGIN 
 INSERT INTO dbo.AssetItem (
           
	            ItemName ,
	            ItemPath ,
				SchemaID,
				IsPageItem,
				MasterPageLayoutPath
	           
	            
        )
        VALUES (
           @ItemName  ,
			 @ItemPath,
				@SchemaID,
				@IsPageItem,
				@MasterPageLayoutPath
			 )
END

/* 
Delete from AssetItem
select * from AssetItem
exec dca_insert_asset_item  @ItemName='FirstAssetItem' , @ItemPath='/Content/MySite/Data/FirstAssetItem', @SchemaID='E9E34FBE-0F61-4B16-BA71-E938365FBA61', @IsPageItem=1,@MasterPageLayoutPath= '/Content/Layout/FirstMaster'
exec dca_insert_asset_item  @ItemName='BottomContent' , @ItemPath='/Content/MySite/Data/BottomContent', @SchemaID='608AD90B-52F0-451A-8FE8-DB284ED0E3E4', @IsPageItem=0,@MasterPageLayoutPath= ''
exec dca_insert_asset_item  @ItemName='Header' , @ItemPath='/Content/MySite/Data/Header', @SchemaID='710FBE40-8EBD-4FDE-BA99-282501FA809A', @IsPageItem=0,@MasterPageLayoutPath= ''
exec dca_insert_asset_item  @ItemName='MainNagivation' , @ItemPath='/Content/MySite/Data/MainNagivation', @SchemaID='A23BE558-72E9-4326-B2C7-BC5C99F38B34', @IsPageItem=0,@MasterPageLayoutPath= ''
exec dca_insert_asset_item  @ItemName='SecondAssetItem' , @ItemPath='/Content/MySite/Data/SecondAssetItem', @SchemaID='EB60F493-F53B-4388-B17E-B3D1A3A0456E', @IsPageItem=1,@MasterPageLayoutPath= '/Content/Layout/SecondMaster'
exec dca_insert_asset_item  @ItemName='TopContent' , @ItemPath='/Content/MySite/Data/TopContent', @SchemaID='A6676449-07F1-4DEA-B456-6D4BE646E351', @IsPageItem=0,@MasterPageLayoutPath= ''
exec dca_insert_asset_item  @ItemName='Footer' , @ItemPath='/Content/MySite/Data/Footer', @SchemaID='608AD90B-52F0-451A-8FE8-DB284ED0E3E4', @IsPageItem=0,@MasterPageLayoutPath= ''
exec dca_insert_asset_item  @ItemName='MiddleContent' , @ItemPath='/Content/MySite/Data/MiddleContent', @SchemaID='74826E3E-C2EA-45DC-A328-43F115F45161', @IsPageItem=0,@MasterPageLayoutPath= ''

select * from AssetItem

*/
GO
/****** Object:  StoredProcedure [dbo].[dca_insert_asset_item_fields]    Script Date: 6/5/2026 8:52:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE  PROCEDURE [dbo].[dca_insert_asset_item_fields]
	@AssetFieldID varchar(200), 
	@AssetFieldValue varchar(200), 
	@AssetSchemaID  varchar(200)

AS
BEGIN
  
       INSERT INTO dbo.AssetItemFields (
           
	            AssetFieldID ,
	            AssetFieldValue ,
				AssetSchemaID
	           
	            
        )
        VALUES (
           @AssetFieldID  ,
			 @AssetFieldValue,
				@AssetSchemaID
			 )
   
        
END;
GO
/****** Object:  StoredProcedure [dbo].[dca_insert_page_content]    Script Date: 6/5/2026 8:52:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE  PROCEDURE [dbo].[dca_insert_page_content]
	@PageUrl  varchar(500), 
	@PageContent nvarchar(MAX)

AS
BEGIN
  
       INSERT INTO dbo.PageContent (
           
	            PageUrl ,
	            PageContent ,
				PageUpdatedDate
	           
	            
        )
        VALUES (
            @PageUrl ,
	          @PageContent,
			  GetDate()
   
        ); 
END;
GO
/****** Object:  StoredProcedure [dbo].[dca_update_page_content]    Script Date: 6/5/2026 8:52:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE  PROCEDURE [dbo].[dca_update_page_content]
	@PageUrl  varchar(500), 
	@PageContent nvarchar(MAX)

AS
BEGIN

		UPDATE dbo.PageContent 
        SET
				PageContent= @PageContent ,
				PageUpdatedDate= GetDate()
        WHERE   PageUrl = @PageUrl
				
END;

-- EXEC  dca_update_page_content 'http://localhost:5287/product/index?id=2',  'tEST HTML '
-- SELECT *  FROM [TestPFP].[dbo].[PageContent]

  --DELETE FROM PageContent
GO
