USE [TestPFP]
GO
/****** Object:  StoredProcedure [dbo].[dca_update_page_content]    Script Date: 5/29/2026 2:22:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER  PROCEDURE [dbo].[dca_update_page_content]
	@PageUrl  varchar(500), 
	@PageContent nvarchar(MAX)

AS
BEGIN

		UPDATE dbo.PageContent 
        SET
				PageContent= @PageContent ,
				PageUpdatedDate= GetDate()
        WHERE   PageUrl = @PageUrl
				
END;

-- EXEC  dca_update_page_content 'http://localhost:5287/product/index?id=2',  'tEST HTML '
-- SELECT *  FROM [TestPFP].[dbo].[PageContent]

  --DELETE FROM PageContent