USE [TestPFP]
GO
/****** Object:  StoredProcedure [dbo].[dca_get_page_content]    Script Date: 5/29/2026 2:21:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER  PROCEDURE [dbo].[dca_get_page_content]
	@PageUrl  varchar(500) 
	

AS
BEGIN

		SELECT 
                PageUrl,
				PageContent

	            FROM 
	                 dbo.PageContent  
					 WHERE   PageUrl = @PageUrl	
END;