USE [TestPFP]
GO
/****** Object:  StoredProcedure [dbo].[dca_insert_page_content]    Script Date: 5/29/2026 2:21:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER  PROCEDURE [dbo].[dca_insert_page_content]
	@PageUrl  varchar(500), 
	@PageContent nvarchar(MAX)

AS
BEGIN
  
       INSERT INTO dbo.PageContent (
           
	            PageUrl ,
	            PageContent ,
				PageUpdatedDate
	           
	            
        )
        VALUES (
            @PageUrl ,
	          @PageContent,
			  GetDate()
   
        ); 
END;