@* @model HomeViewModel *@

@{
    ViewData["Title"] = "Home Page";
}
<div style="background-color:Gray;color:white">
    <h1 class="display-4">Article Footer</h1>
    <h2>Footer item content details </h2>



<h3>Title - @Model.Title</h3>
    <h3>Description - @Model.Description</h3>
<h3>PrivacyInfo - @Model.PrivacyInfo</h3>
</div>


