@* @model HomeViewModel *@

@{
    ViewData["Title"] = "Home Page";
}
<div style="background-color:#871409;color:white">
    <h1 class="display-4">Article Header</h1>

    <h2>Dynamically model AssetFields  Title - @Model.Description</h2>
    <h2>Dynamically model AssetFields ArticleShortDescription - @Model.Title</h2>

</div>

