@* @model HomeViewModel *@

@{
    ViewData["Title"] = "Home Page";
}
<div style="background-color:Gray;color:white">
    <h1 class="display-4">Article Header</h1>
    <h2>Header item content details </h2>


    <h2>Description - @Model.Description</h2>
    <h2>Title - @Model.Title</h2>
    <h2>Disclamier - @Model.Disclamier</h2>
    <h2>ShortDescription - @Model.ShortDescription</h2>

    

</div>

