@model HomeViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div style="background-color:#871409;color:white">
    <h1 class="display-4">Footer</h1>
   

<footer class="border-top footer text-muted">
        <div class="container" style="color:white">
        &copy; 2026 - DynamicContentApp - <a>Privacy</a>
    </div>
</footer>
@* <p>Model value at footer level</p>
<p>ReWriteUrl -- @Model.ReWriteUrl</p> *@

</div>