<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="/lib/jquery/dist/jquery.min.js"></script>
   
    
    <style>
        body {
            margin: 0;
            font-family: Arial, Helvetica, sans-serif;
        }

        .topnav {
            overflow: hidden;
            background-color: #333;
        }

            .topnav a {
                float: left;
                color: #f2f2f2;
                text-align: center;
                padding: 14px 16px;
                text-decoration: none;
                font-size: 17px;
            }

                .topnav a:hover {
                    background-color: #ddd;
                    color: black;
                }

                .topnav a.active {
                    background-color: #af8d84;
                    color: white;
                }
    </style>
    <style>
        .default-color {
            color: black;
            background-color: #f4f4f4;
        }
        /* Toggled color */
        .highlight {
            color: black;
            background-color: lightgray;
        }

        ul, #myUL {
            list-style-type: none;
        }

        #myUL {
            margin: 0;
            padding: 0;
        }

        .caret {
            cursor: pointer;
            -webkit-user-select: none; /* Safari 3.1+ */
            -moz-user-select: none; /* Firefox 2+ */
            -ms-user-select: none; /* IE 10+ */
            user-select: none;
        }

            .caret::before {
                content: "\25B6";
                color: RED;
                display: inline-block;
                margin-right: 6px;
            }

        .caret-down::before {
            -ms-transform: rotate(90deg); /* IE 9 */
            -webkit-transform: rotate(90deg); /* Safari */
            ' transform: rotate(90deg);
        }

        .nested {
            display: none;
        }

        .active {
            display: block;
        }
    </style>
    <style>
        body {
            font-family: Arial, sans-serif;
            height: 100vh;
            margin: 0;
            background: #f4f4f4;
        }

        /* Context menu container */
        #contextMenu {
            position: absolute;
            display: none;
            background: #fff;
            border: 1px solid #ccc;
            box-shadow: 2px 2px 6px rgba(0,0,0,0.2);
            border-radius: 5px;
            z-index: 1000;
            min-width: 160px;
            overflow: hidden;
        }

            /* Menu items */
            #contextMenu ul {
                list-style: none;
                margin: 0;
                padding: 0;
            }

            #contextMenu li {
                padding: 10px 15px;
                cursor: pointer;
                transition: background 0.2s;
            }

                #contextMenu li:hover {
                    background: #0078d7;
                    color: white;
                }
    </style>
    <style>
        .main-container {
            display: flex; /* Enables Flexbox */
            width: 100%; /* Ensures the container spans the full width available */
            margin: 0; /* Removes default browser spacing */
            min-height: 100dvh;
        }

        .main-container-header {
            display: flex; /* Enables Flexbox */
            width: 100%; /* Ensures the container spans the full width available */
            margin: 0; /* Removes default browser spacing */
            min-height: 7dvh;
            background-color: #af8d84;
        }

        .sidebar-header {
            width: 15%; /* Sets the width to 25% */
            background-color: #af8d84;
            border-style: solid;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .sidebar {
            width: 15%; /* Sets the width to 25% */
            background-color: #f0f0f0;
        }

        .content {
            width: 85%; /* Sets the width to 75% */
            background-color: #e0e0e0;
        }

        .unfake-disabled-button {
            background-color: red;
            border-color: red;
            border-style: none;
            color: white;
            height: 2em;
            width: 10em;
        }
        .fake-disabled-button {
            pointer-events: none; /* Block clicks */
            opacity: 0.5; /* Fade out */
            height: 2em;
            width: 10em;
        }

        .fake-disabled-input {
            pointer-events: none; /* Block clicks */
            opacity: 0.5; /* Fade out */
            height: 1em;
            width: 10em;
        }
        

        .scroll-container {
            width: 100%; /* Limits the horizontal size */
          
            height: 100dvh; /* Limits the vertical size */
            overflow: auto; /* Automatically adds x and y scrollbars if needed */
        }
    </style>
    <style>
        .modal-overlay {
  display: none; 
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Dimmed background */
  z-index: 1000;
}
/* Centered white modal window */
.modal-content {
            background-color: #f2f2f2;
            border: 10px solid #d9d9d9;
            margin: 15% auto;
  padding: 20px;
  width: 50%;
  position: relative;
}
/* Close button positioning */
.close-x {
  position: absolute;
  top: 10px; right: 15px;
  cursor: pointer;
  font-size: 24px;
}
    </style>
</head>
<body>
    <div id="targetElement" >
   @*  <div id="customModal1" class="modal-overlay1">
        <!-- Modal Box Content -->
        <div class="modal-content1">
            <span id="closeModalBtn" class="close-x">&times;</span>
            <h2><span id="lblModelTitle"></span></h2>
            <input type="hidden" id="hdnTitle" />
            <input type="hidden" id="hdnParentId" />
            <input type="hidden" id="hdnAssetId" />
            <input type="hidden" id="hdnTitle" />
            <span>Either enter or select from below  Item path</span>
            <input type="text" id="txtSelectedItemPath" value="" style="width:30%;" />
            
            <input type="button" id="btnSelectedItemPath" value="Select" class="unfake-disabled-button" />
            <input type="button" id="closeModalBtnSecond" value="Close" class="unfake-disabled-button" />
           
            <br />
            <span>Selected Item ID</span>
            <input type="text" id="txtSelectedItemID" value="" style="width:30%;" />
        </div>
    </div> *@

    
   @*  <div class="main-container">

       
        <div class="sidebar scroll-container ">

            <h2>Content Tree</h2>


            <ul id="myUL1">
                    <li tag="1049D17E-6C1C-45A9-9B75-5F779B61023E">
                        <span id="1049D17E-6C1C-45A9-9B75-5F779B61023E" tag="1049D17E-6C1C-45A9-9B75-5F779B61023E" class="caret default-color">UniversalCMS</span>
                        <ul id="1049D17E-6C1C-45A9-9B75-5F779B61023EE" class="nested">
                        <li>
                            <span tag="101" class="caretli">Water</span>
                        </li>
                        <li><span tag="102" class="caretli ">Coffee</span></li>
                        <li>
                            <span tag="200" class="caret">Tea</span>
                            <ul class="nested" id="myUL1Parent">
                                <li>
                                    <span tag="202" class="caretli">Black Tea</span>
                                </li>
                                <li>
                                    <span tag="203" class="caretli">White Tea</span>
                                </li>
                                <li>
                                    <span tag="300" class="caret default-color">Green Tea</span>
                                    <ul class="nested">
                                        <li>
                                            <span tag="300" class="caretli">Sencha</span>
                                        </li>
                                        <li>
                                            <span tag="301" class="caretli">Gyokuro</span>
                                        </li>
                                        <li>
                                            <span tag="302" class="caretli">Matcha</span>
                                        </li>
                                        <li>
                                            <span tag="303" class="caretli">Pi Lo Chun</span>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>

        </div>
       
    </div>
    
    <input type="hidden" id="hdnChildCount1" runat="server" value="0"  /> *@

   @*  <script src="/lib/jquery/dist/jquery.min.js"></script>
    <script src="/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/js/site.js?v=hRQyftXiu1lLX2P9Ly9xa4gHJgLeR1uGN5qegUobtGo"></script> *@

    

   
 

    </div>
</body>
</html>



    

