<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="/lib/jquery/dist/jquery.min.js"></script>
   
    
    <style>
        body {
            margin: 0;
            font-family: Arial, Helvetica, sans-serif;
        }

        .topnav {
            overflow: hidden;
            background-color: #333;
        }

            .topnav a {
                float: left;
                color: #f2f2f2;
                text-align: center;
                padding: 14px 16px;
                text-decoration: none;
                font-size: 17px;
            }

                .topnav a:hover {
                    background-color: #ddd;
                    color: black;
                }

                .topnav a.active {
                    background-color: #af8d84;
                    color: white;
                }
    </style>
    <style>
        .default-color {
            color: black;
            background-color: #f4f4f4;
        }
        /* Toggled color */
        .highlight {
            color: black;
            background-color: lightgray;
        }

        ul, #myUL {
            list-style-type: none;
        }

        #myUL {
            margin: 0;
            padding: 0;
        }

        .caret {
            cursor: pointer;
            -webkit-user-select: none; /* Safari 3.1+ */
            -moz-user-select: none; /* Firefox 2+ */
            -ms-user-select: none; /* IE 10+ */
            user-select: none;
        }

            .caret::before {
                content: "\25B6";
                color: RED;
                display: inline-block;
                margin-right: 6px;
            }

        .caret-down::before {
            -ms-transform: rotate(90deg); /* IE 9 */
            -webkit-transform: rotate(90deg); /* Safari */
            ' transform: rotate(90deg);
        }

        .nested {
            display: none;
        }

        .active {
            display: block;
        }
    </style>
    <style>
        body {
            font-family: Arial, sans-serif;
            height: 100vh;
            margin: 0;
            background: #f4f4f4;
        }

        /* Context menu container */
        #contextMenu {
            position: absolute;
            display: none;
            background: #fff;
            border: 1px solid #ccc;
            box-shadow: 2px 2px 6px rgba(0,0,0,0.2);
            border-radius: 5px;
            z-index: 1000;
            min-width: 160px;
            overflow: hidden;
        }

            /* Menu items */
            #contextMenu ul {
                list-style: none;
                margin: 0;
                padding: 0;
            }

            #contextMenu li {
                padding: 10px 15px;
                cursor: pointer;
                transition: background 0.2s;
            }

                #contextMenu li:hover {
                    background: #0078d7;
                    color: white;
                }
    </style>
    <style>
        .main-container {
            display: flex; /* Enables Flexbox */
            width: 100%; /* Ensures the container spans the full width available */
            margin: 0; /* Removes default browser spacing */
            min-height: 100dvh;
        }

        .main-container-header {
            display: flex; /* Enables Flexbox */
            width: 100%; /* Ensures the container spans the full width available */
            margin: 0; /* Removes default browser spacing */
            min-height: 7dvh;
            background-color: #af8d84;
        }

        .sidebar-header {
            width: 15%; /* Sets the width to 25% */
            background-color: #af8d84;
            border-style: solid;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .sidebar {
            width: 15%; /* Sets the width to 25% */
            background-color: #f0f0f0;
        }

        .content {
            width: 85%; /* Sets the width to 75% */
            background-color: #e0e0e0;
        }

        .unfake-disabled-button {
            background-color: red;
            border-color: red;
            border-style: none;
            color: white;
            height: 2em;
            width: 10em;
        }
        .fake-disabled-button {
            pointer-events: none; /* Block clicks */
            opacity: 0.5; /* Fade out */
            height: 2em;
            width: 10em;
        }

        .fake-disabled-input {
            pointer-events: none; /* Block clicks */
            opacity: 0.5; /* Fade out */
            height: 1em;
            width: 10em;
        }
        

        .scroll-container {
            width: 100%; /* Limits the horizontal size */
          
            height: 100dvh; /* Limits the vertical size */
            overflow: auto; /* Automatically adds x and y scrollbars if needed */
        }
    </style>
    <style>
        .modal-overlay {
  display: none; 
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Dimmed background */
  z-index: 1000;
}
/* Centered white modal window */
.modal-content {
            background-color: #f2f2f2;
            border: 10px solid #d9d9d9;
            margin: 15% auto;
  padding: 20px;
  width: 50%;
  position: relative;
}
/* Close button positioning */
.close-x {
  position: absolute;
  top: 10px; right: 15px;
  cursor: pointer;
  font-size: 24px;
}
    </style>
</head>
<body>
    <div id="targetElement" >
    <div id="customModal1" class="modal-overlay1">
        <!-- Modal Box Content -->
        <div class="modal-content1">
            <span id="closeModalBtn" class="close-x">&times;</span>
            <h2><span id="lblModelTitle"></span></h2>
            <input type="hidden" id="hdnTitle" />
            <input type="hidden" id="hdnParentId" />
            <input type="hidden" id="hdnAssetId" />
            <input type="hidden" id="hdnTitle" />
            <span>Either enter or select from below  Item path</span>
            <input type="text" id="txtSelectedItemPath" value="" style="width:30%;" />
            
            <input type="button" id="btnSelectedItemPath" value="Select" class="unfake-disabled-button" />
            <input type="button" id="closeModalBtnSecond" value="Close" class="unfake-disabled-button" />
           
            <br />
            <span>Selected Item ID</span>
            <input type="text" id="txtSelectedItemID" value="" style="width:30%;" />
        </div>
    </div>

    
    <div class="main-container ">

       
        <div class="sidebar scroll-container ">

            <h2>Content Tree</h2>


            <ul id="myUL">
                <li  tag="4FDB8DDB-C19C-4DCA-AD64-5C2A52F969DE">
                    <span id="4FDB8DDB-C19C-4DCA-AD64-5C2A52F969DE" tag="4FDB8DDB-C19C-4DCA-AD64-5C2A52F969DE" class="caret default-color">UniversalCMS</span>
                    <ul id="4FDB8DDB-C19C-4DCA-AD64-5C2A52F969DE" class="nested">
                        <li>
                            <span tag="101" class="caretli">Water</span>
                        </li>
                        <li><span tag="102" class="caretli ">Coffee</span></li>
                        <li>
                            <span tag="200" class="caret">Tea</span>
                            <ul class="nested">
                                <li>
                                    <span tag="202" class="caretli">Black Tea</span>
                                </li>
                                <li>
                                    <span tag="203" class="caretli">White Tea</span>
                                </li>
                                <li>
                                    <span tag="300" class="caret default-color">Green Tea</span>
                                    <ul class="nested">
                                        <li>
                                            <span tag="300" class="caretli">Sencha</span>
                                        </li>
                                        <li>
                                            <span tag="301" class="caretli">Gyokuro</span>
                                        </li>
                                        <li>
                                            <span tag="302" class="caretli">Matcha</span>
                                        </li>
                                        <li>
                                            <span tag="303" class="caretli">Pi Lo Chun</span>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>

        </div>
       
    </div>
    <!-- Custom Context Menu -->
    <div id="contextMenu">
        <ul>
            <!-- <li id="edit_li" onclick="alert('Option 1 clicked')">Edit</li>
             <li id="remove_li"  onclick="alert('Option 2 clicked')">Remove</li>
             <li id="duplicate_li" onclick="alert('Option 3 clicked')">Duplicate</li>-->
            <li id="add_li">Create</li>
            <li id="edit_li">Edit</li>
            <li id="remove_li">Remove</li>
            <li id="duplicate_li">Duplicate</li>
            <li id="refresh_li">Refresh</li>
            

        </ul>
    </div>
    <input type="hidden" id="hdnChildCount" runat="server" value="0"  />

    <script src="/lib/jquery/dist/jquery.min.js"></script>
    <script src="/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/js/site.js?v=hRQyftXiu1lLX2P9Ly9xa4gHJgLeR1uGN5qegUobtGo"></script>

    

    <script>
        alert("inside lookup");
                var IDSchema = "4FDB8DDB-C19C-4DCA-AD64-5C2A52F969DE";
                var childChildCountarr = [];
                getDbData(IDSchema);
                ViewContentItem(IDSchema) ;
             function getDbData( IDSchema ) {

                         var requestData = {
                                SchemaID: IDSchema
                         };
            $.ajax({
                type: "GET",
                url: "/ContentTree/GetChildSchema", 
                 data: { SchemaID: IDSchema },
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                async: false,
                success: function (response) {
                     console.log("Success:", response);
                     if(response.length>0)
                     {        
                      $.each(response, function(index, record) {
                                     checkChildCount(record.childSchemaID);
                                 var childhiddenCount = $("#hdnChildCount").val();
                                    var myUl = $("#myUL").find("ul[id='" + IDSchema+"']");
                                if (parseInt(childhiddenCount) > 0) {
                                     myUl.append("<li><span  onclick=GetChildOfSelectedUL('" + record.childSchemaID + "'); tag='"+record.childSchemaID+ "' id='"+record.childSchemaID+  "' class='caret default-color'>"+record.childSchemaName+"</span><ul id='"+record.childSchemaID+ "'  tag='"+record.childSchemaID+ "' class='nested'><li></li></ul></li>");
                                                 alert("inside myUl");
                               }
                               else
                               {
                                     myUl.append("<li><span id='"+record.childSchemaID+ "' tag='"+record.childSchemaID+ "' onclick=GetChildOfSelectedLI('" + record.childSchemaID + "'); class='caretli'>"+record.childSchemaName+"</span></li>");
                                                alert("inside myUl");
                               }
                              

                         });
                           
                         }
                     },
                 error: function (xhr, status, error) {
                        console.error("Error occurred:", error);
                    }
            });
        }

        function checkChildCount( IDSchema ) {
            var childCount= 0;
                         var requestData = {
                                SchemaID: IDSchema
                         };
            $.ajax({
                type: "GET",
                url: "/ContentTree/GetChildSchema", 
                 data: { SchemaID: IDSchema },
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                 async: false,
                success: function (response) {
                         if(response.length>0)
                         {
                             $("#hdnChildCount").val(response.length);
                         }
                         else 
                         {
                              $("#hdnChildCount").val("0");
                         }
                     },
                 error: function (xhr, status, error) {
                        console.error("Error occurred:", error);
                    }
            });
            
        }



         function checkChildCountNew( IDSchema ) {
            var childCount= 0;
                         var requestData = {
                                SchemaID: IDSchema
                         };
            $.ajax({
                type: "GET",
                url: "/ContentTree/GetChildSchema", 
                 data: { SchemaID: IDSchema },
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                                if(response.length>0)
                                {
                                    var myUl = $("#myUL").find("#" + IDSchema);

                               myUl.append("<li><span tag='100' class='caret default-color'>"+record.childSchemaName+"</span>");
                               myUl.append("<ul id='"+record.childSchemaID+ "' class='nested'>");
                               myUl.append("</ul");
                               }
                               else
                               {
                                     myUl.append("<li><span id='"+record.childSchemaID+ "' tag='"+record.childSchemaID+ "' onclick=GetChildOfSelected('" + record.childSchemaID + "'); class='caretli'>"+record.childSchemaName+"</span></li>");
                               }
                     },
                 error: function (xhr, status, error) {
                        console.error("Error occurred:", error);
                    }
            });

        }
        
   
    function  GetChildOfSelectedLI(childSchemaID) {
        //alert('GetChildOfSelectedLI'+ ' '+childSchemaID);
        addEventListener_caretli(childSchemaID)
        ViewContentItem(childSchemaID) ;
       
    };
  

                  function getSchema( IDSchema ) {
                      //alert(IDSchema);

                           var MessageSucess=  $("#lblEditMessageSucess");
                            var MessageError=  $("#lblEditMessageError");
                             MessageSucess.css('display', 'none');
                            MessageError.css('display', 'none');

                             $("#editSchemaForm #txtSchemaID").val('');
                              $("#editSchemaForm #txtSchemaName").val('');
                              $("#editSchemaForm #txtSchemaPath").val('');
                              $("#editSchemaForm #txtSchemaParent").val('');
                              $('#editSchemaForm #AssetTypeDropdown_Edit').val('0');
                              $("#editSchemaForm #txtAssetItemSchema").val('');
                               $("#editSchemaForm #txtAssetItemTreeeID").val(IDSchema);
                $.ajax({
                 type: "GET",
                  url: "/ContentTree/GetSchema", // PageName/MethodName
                 //data: JSON.stringify(requestData),
                 data: { SchemaID: IDSchema },
                 contentType: "application/json; charset=utf-8",
                 dataType: "json",
                   async: false,
                 success: function (response) {
                       $.each(response, function(index, record) {

                          // alert(record.schemaPath +' ' +record.id);
                            $("#txtSelectedItemPath").val(record.schemaPath);
                          // alert($("#txtSelectedItemPath").val());

                             $("#txtSelectedItemID").val(record.id);
                                       $("#editSchemaForm #txtSchemaID").val(record.id);
                                           $("#editSchemaForm #txtSchemaName").val(record.schemaName);
                                             $("#editSchemaForm #txtSchemaPath").val(record.schemaPath);
                                               $("#editSchemaForm #txtSchemaParent").val(record.parentID);
                                               if(record.assetTypeID !='')
                                               {
                                                 $('#editSchemaForm #AssetTypeDropdown_Edit').val(record.assetTypeID);
                                               }
                                               else
                                               {
                                                     $('#editSchemaForm #AssetTypeDropdown_Edit').val(0);
                                               }
                                                      
                                                          $("#editSchemaForm #txtAssetItemSchema").val(record.assetItemSchema);
             
                                                                 $("#editSchemaForm #txtAssetItemTreeeID").val(record.assetItemTreeeID);
                                                                 
                                                            
                          });
                
                      },
                  error: function (xhr, status, error) {
                         console.error("Error occurred:", error);
                     }
             });

                        var  AssetItemID = $("#editSchemaForm #txtSchemaID").val();
                           var  AssetItemSchemaID = $("#editSchemaForm #txtAssetItemSchema").val();
                            var  AssetItemTreeeID = $("#editSchemaForm #txtAssetItemTreeeID").val();
                          
                                       ViewContentDetailItem( AssetItemID, AssetItemSchemaID,AssetItemTreeeID);

         }
          function ViewContentDetailItem( assetItemID, assetItemSchemaID,assetItemTreeeID) {
                            const optionsData = [
                               
                            ];

                             $.ajax({
                  type: "GET",
                  url: "/ContentTree/GetAssetItemDetails", // PageName/MethodName
                  //data: JSON.stringify(requestData),
                  data: { AssetItemID: assetItemID, AssetItemSchemaID:assetItemSchemaID, AssetItemTreeeID: assetItemTreeeID},
                  contentType: "application/json; charset=utf-8",
                  dataType: "json",
                  async: false,
                  success: function (response) {
                  $.each(response, function(index, record) 
                                    {
                                        //alert(record.schemaFieldID + record.schemaParentID + record.schemaFieldName +   record.schemaFieldType +record.assetItemID+record.assetFieldID+record.assetFieldValue);
                                        let newElement2= { schemaFieldID:  record.schemaFieldID  , schemaParentID:  record.schemaParentID ,schemaFieldName: record.schemaFieldName  ,schemaFieldType:  record.schemaFieldType ,assetItemID: record.assetItemID ,assetFieldID: record.assetFieldID,assetFieldValue: record.assetFieldValue};
                                         optionsData.push(newElement2);
                                          //alert(record.schemaFieldName);
                                        
                                     });
                       },
                   error: function (xhr, status, error) {
                          console.error("Error occurred:", error);
                      }
              });
               $("#dynamicFormContainer_Edit_AssetFieldDetails").css("display", "none");
               if(optionsData.length >0)
               {

                RenderAssetItemDetail(optionsData, assetItemID, assetItemSchemaID)
               }
              
            }
       function RenderAssetItemDetail(optionsData, assetItemID, assetItemSchemaID) {
                  //alert(optionsData.length)
                  $("#dynamicFormContainer_Edit_AssetFieldDetails").css("display", "block");
                 $("#dynamicFormContainer_Edit_AssetFieldDetails").empty();
                
                    const form = $('<form>').attr({ method: 'post', action: 'submitFields', id: 'frmAssetFieldDetailsContainer' });
                    var hdnAssetItemID = 'hdn_' +assetItemID;
                    var hdnAssetItemSchemaID= 'hdn_' +assetItemSchemaID;

                   // for hidden field to care assetid
                    const SchemaSpan1 = $('<div>').attr({ style: 'padding-top:1em;width:80%', });
                       const AssetFieldIDIDInput1 = $('<input>').attr({ type: 'hidden', value:assetItemID ,name: 'AssetItemId', id:'hdnAssetItemID', placeholder: 'AssetFieldID' , style:'width:80%;background-color:#f2f2f2;border-color:#f2f2f2'});
                    SchemaSpan1.append(AssetFieldIDIDInput1);
                    form.append(SchemaSpan1);

                      // for  field to care Label of field
                          const SchemaSpanHeader = $('<div>').attr({ style: 'padding-bottom:0.2em;width:80%', });
                       // const AssetFieldNameLabel = $('<input>').attr({ type: 'text', name: 'AssetFieldName', value:schemaFieldName, placeholder: 'Asset Field Name Label' , style:'width:80%;background-color:#D3E0C3;border-color:#D3E0C3'});
                          const AssetFieldNameHeaderLabel = $("<h2>", {     class: "form-label",  text: 'To Edit Selected Item Content  ', style:'width:80%;background-color:#f2f2f2;border-color:none' });
                             SchemaSpanHeader.append(AssetFieldNameHeaderLabel);
                       form.append(SchemaSpanHeader);


                    const SchemaSpan11 = $('<div>').attr({ style: 'padding-top:1em;width:80%', });
                         const AssetFieldIDIDInput2 = $('<input>').attr({ type: 'hidden', value:assetItemSchemaID ,name: 'AssetItemSchemaID', id:'hdnAssetItemSchemaID', placeholder: 'AssetFieldID' , style:'width:80%;background-color:#f2f2f2;border-color:#f2f2f2'});
                     SchemaSpan11.append(AssetFieldIDIDInput2);
                     form.append(SchemaSpan11);
                    $.each(optionsData, function (index, item) {
                  // alert(item.assetID + " , " + item.assetSchemaID);
                   // alert(item["assetID"] + " , " + item["assetSchemaID"]);
                         var schemaParentID = item.schemaParentID;
                         var schemaFieldType = item.schemaFieldType;
                          var schemaFieldID =  item.schemaFieldID;
                          var schemaFieldName = item.schemaFieldName;
                            //alert(item.schemaFieldType );
                                   //alert(item.assetFieldID +' '+ item.assetFieldValue +' ' +item.schemaFieldType + +' ' +item.schemaFieldID);
                        var assetFieldID = item.assetFieldID;
                          var assetFieldValue = item.assetFieldValue;

                     
                          
                       // for  field to care Label of field
                         const SchemaSpan2 = $('<div>').attr({ style: 'padding-bottom:0.2em;width:80%', });
                      // const AssetFieldNameLabel = $('<input>').attr({ type: 'text', name: 'AssetFieldName', value:schemaFieldName, placeholder: 'Asset Field Name Label' , style:'width:80%;background-color:#D3E0C3;border-color:#D3E0C3'});
                         const AssetFieldNameLabel = $("<label>", {   for: schemaFieldID,  class: "form-label",  text: schemaFieldName, style:'width:80%;background-color:#f2f2f2;border-color:none' });
                       

                            // for  field to careSIMPLLE_TEXT
                     if(item.schemaFieldType =='SIMPLLE_TEXT')
                     {
                            //alert('SIMPLLE_TEXT');
                      SchemaSpan2.append(AssetFieldNameLabel);
                      form.append(SchemaSpan2);
                    const SchemaSpan3 = $('<div>').attr({ style: 'padding:0em;width:80%',});
                      const AssetFieldSingleValue = $('<input>').attr({ type: 'text', schemaFieldID:schemaFieldID, assetFieldID:assetFieldID, id:schemaFieldID, tag:'component', value:assetFieldValue, name: 'AssetFieldSingleValue',placeholder: 'Enter Asset Field Value' , style:'width:80%;'});
                    SchemaSpan3.append(AssetFieldSingleValue);
                    form.append(SchemaSpan3);
                     }

                         // for field to care MULTILINE_TEXT
                     if(item.schemaFieldType =='MULTILINE_TEXT')
                         {
                                  //alert('MULTILINE_TEXT');
                            SchemaSpan2.append(AssetFieldNameLabel);
                              form.append(SchemaSpan2);
                    const SchemaSpan4 = $('<div>').attr({ style: 'padding:0em;width:80%', });
                          //const AssetFieldNameInput = $('<input>').attr({ type: 'textarea',schemaFieldID:schemaFieldID, assetFieldID:assetFieldID,id:schemaFieldID,tag:'component',value:assetFieldValue, rows:5,cols: 50, name: 'AssetFieldMultiLineValue',placeholder: 'Enter Asset Field Value' , style:'width:80%;min-height: 50px;white-space: pre-wrap;'});
                    const AssetFieldNameInput = $('<textarea>').attr({ schemaFieldID:schemaFieldID, assetFieldID:assetFieldID,id:schemaFieldID,tag:'component',value:assetFieldValue, rows:5,cols: 50, name: 'AssetFieldMultiLineValue',placeholder: 'Enter Asset Field Value' , style:'width:80%;min-height: 50px;white-space: pre-wrap;'}).html(assetFieldValue);
                    SchemaSpan4.append(AssetFieldNameInput);
                    form.append(SchemaSpan4);
                     
                         }

                       // for field to care DROPDOWN
                    const optionsDataDropdwon = [
                                      { value: "", text: "-Select Field Type -" },
                                      { value: "1", text: "Text" },
                                      { value: "2", text: "Multiline" },
                                      { value: "3", text: "HtmlText" }
                                                  ];
                    const $select = $("<select>", {
                              id: "FieldTypeSelect1",
                              name: "FieldTypeSelect",
                               style:'width:64%;'
                     });
                     $.each(optionsDataDropdwon, function (index, item) {
                    // Validate that both value and text exist
                    if (typeof item.value === "string" && typeof item.text === "string") {
                        $("<option>", {
                            value: item.value,
                            text: item.text
                        }).appendTo($select);
                    }
                    });

                    const SchemaSpan5 = $('<span>').attr({ style: 'padding:0em;width:80%', });
                    SchemaSpan5.append($select);
                    $select.on("change", function () {

                        var selectedID = $(this).val();
                        var selectedText = $(this).find("option:selected").text();
                        //alert("You selected: " + selectedID);
                        //alert("You selected: " + selectedText);
                        //if (selectedText.toUpperCase() === "CONTENT_ITEM") {
                            //alert("You selected: " + selectedID);
                            //alert("You selected: " + selectedText);
                            //$("#spanAssetItemSchema_Add").css("display", "block");
                    // }
                    });
                    //form.append(SchemaSpan5);


                    // const SchemaSpan6 = $('<span>').attr({ style: 'padding:0em;width:80%', });
                    // const AssetFieldCheckbox = $('<input>').attr({ type: 'checkbox', name: 'AssetFieldCheckbox', placeholder: 'Asset Field Checkbox' , style:'width:80%;background-color:#D3E0C3;border-color:#D3E0C3'});
                    // SchemaSpan6.append(AssetFieldCheckbox);
                    //form.append(SchemaSpan6);
                    });

                // add action button to save 
                    const SchemaSpan2 = $('<div>').attr({ style: 'padding-top:3em;width:80%', });
                    //const submitButton = $('<input>').attr({ type: 'submit', value: 'Save Asset Fields', class:'unfake-disabled-button' });
                        const submitButton = $('<input>').attr({ type: 'button', name:'btnSaveAssetFields', value: 'Save Asset Content', id:'btnSaveAssetFields',  class:'unfake-disabled-button' });
                    SchemaSpan2.append(submitButton);
                    form.append(SchemaSpan2);

                $("#dynamicFormContainer_Edit_AssetFieldDetails").append(form);
                   $('#btnSaveAssetFields').on('click', function(e) {

                            const assetFieldsData = [];

                             e.preventDefault(); // This stops the form from submitting and redirecting
                            e.stopPropagation();
                             // alert('btnSaveAssetFields' );
                              const currentitemid = e.target.getAttribute('id');

                                  //var controls = $("#frmAssetFieldDetailsContainer").find("input, select, textarea, button");

                                      var controls = $("#frmAssetFieldDetailsContainer").find("[tag='component']");

                                   var assetItemID= $("#hdnAssetItemID").val();
                                      var assetItemSchemaID= $("#hdnAssetItemSchemaID").val();
                                       // alert('btnSaveAssetFields' +assetItemTreeeID + ''+ assetItemSchemaID );

                                    controls.each(function() {
                                        var control = $(this);

                                            var schemaFieldID1= control.attr('schemaFieldID');
                                            var assetFieldID1= control.attr('assetFieldID');
                                             var assetFieldValue1= control.val();
                                                let newElement2= { assetItemID:  assetItemID  , assetItemSchemaID:  assetItemSchemaID ,schemaFieldID: schemaFieldID1  ,assetFieldID: assetFieldID1 ,assetFieldValue: assetFieldValue1 };
                                                 assetFieldsData.push(newElement2);


                                                //  alert('controls  ' +schemaFieldID1 + ''+ assetFieldID1 + ''+ assetFieldValue1 );


                                                   console.log('Type: ' + control.attr('type') + ' | ID: ' + control.attr('id')+ ' | schemaFieldID: ' + control.attr('schemaFieldID')+ ' | assetFieldID: ' + control.attr('assetFieldID')+ ' | Name: ' + control.attr('name') + ' | Value: ' + control.val());
                                              
                                               
                                        });
                                     $.each(assetFieldsData, function (index, item) {

                                            //alert(item.schemaFieldID + "  " + item.assetFieldID1+ "  " + item.assetFieldValue + "  " + item.assetItemID + "  " + item.assetItemSchemaID);
                                    });
                                                //  MessageError.css('display', 'none');
                                      $.ajax({
                                       type: "POST",
                                        url: "/ContentTree/SaveAssetFieldsData", // PageName/MethodName
                                       //data: JSON.stringify(requestData),
                                      // data: { SchemaID: IDSchema },
                                          data: JSON.stringify(assetFieldsData),
                                       contentType: "application/json; charset=utf-8",
                                       dataType: "json",
                                       success: function (response) {
                                            //alert("success");
                                             if (response === true) {
                                                     alert("Successfully saved!");
                                                 }
                                                  else {
                                                          alert("Failed while saving");
                                                    }
                                             //alert("Success:", response);
                                             // RecordCount= response.length;
                                               // alert("Total records received: " + RecordCount);
                                             // $.each(response, function(index, record) {
                                             //                 $("#editSchemaForm #txtSchemaID").val(record.id);
                                             //    });
                                            },
                                        error: function (xhr, status, error) {
                                               console.error("Error occurred:", error);
                                                alert("Error occurred:" + error);
                                           }
                                   });


                                        });

   

      }
      function IsAssetItemSchemaType( IDSchema, RecordCount ) {

                            // var MessageSucess=  $("#lblEditMessageSucess");
                            //  var MessageError=  $("#lblEditMessageError");
                            //   MessageSucess.css('display', 'none');
                            //  MessageError.css('display', 'none');
                 $.ajax({
                  type: "GET",
                   url: "/ContentTree/GetSchema", // PageName/MethodName
                  //data: JSON.stringify(requestData),
                  data: { SchemaID: IDSchema },
                  contentType: "application/json; charset=utf-8",
                  dataType: "json",
                  success: function (response) {
                       //alert("success");
                       //alert("Success:", response);
                         RecordCount= response.length;
                           //alert("Total records received: " + RecordCount);
                        $.each(response, function(index, record) {
                                        $("#editSchemaForm #txtSchemaID").val(record.id);
                           });
                       },
                   error: function (xhr, status, error) {
                          console.error("Error occurred:", error);
                           alert("Error occurred:" + error);
                      }
              });
          }
       
     function  GetChildOfSelectedUL(childSchemaID) {
         //alert('GetChildOfSelectedUL'+ ' '+childSchemaID);
        getDbData( childSchemaID );
        addEventListener_caret(childSchemaID);
        ViewContentItem(childSchemaID) ;
    };

    

     function addEventListener_caret(childSchemaID) {
           var toggler = document.getElementById(childSchemaID);
        const contextMenu = document.getElementById("contextMenu");
        const editdiv = document.getElementById("editdiv");
        const removediv = document.getElementById("removediv");
        var i;
                toggler.parentElement.querySelector(".nested").classList.toggle("active");
                toggler.classList.toggle("caret-down");
                const idSchema = toggler.getAttribute('id');
               const allchildLi = toggler.parentElement.querySelectorAll('ul li');
             

               allchildLi.forEach(span => {
                     span.remove();
                });
                 getDbData(childSchemaID);
                const spans = document.querySelectorAll('span.highlight');
                spans.forEach(span => {
                    span.classList.remove('highlight');
                });
                if (toggler) {
                     toggler.classList.add('highlight');
                      //setupcontextmenu(toggler);
                    }
   

     }
     function ViewContentItem( currentitemid) {
                              var content=$("#" +currentitemid).html();
                              getSchema( currentitemid );
                                   var assetid = $("#editSchemaForm #txtSchemaID").val();
                                 
               }

          
     

        

         function RenderAssetItemComponentDetail(optionsData, assetItemID) {
                    //alert(optionsData.length + ' '+ assetItemID);
                    $("#dynamicFormContainer_Edit_AssetFieldComponentDetails").css("display", "block");
                     $("#dynamicFormContainer_Edit_AssetFieldComponentDetails").empty();

                     const form = $('<form>').attr({ method: 'post', action: 'submitAssetItemComponents', id: 'frmAssetItemComponentDetailsContainer' });

                     $.each(optionsData, function (index, item) {
                               // alert(item.assetItemID + " , " + item.assetItemComponentID);
                                //alert(item.assetID + " , " + item.assetItemComponentID);
                            // alert(item["assetID"] + " , " + item["assetSchemaID"]);
                            var assetItemComponentID= item.assetItemComponentID
                            var assetItemID = item.assetItemID;
                            var componentPath = item.componentPath;
                            var linkedAssetItem =  item.linkedAssetItem;
                            var placeholderPath = item.placeholderPath;

                           //alert(assetItemComponentID+' '+assetItemID +' '+componentPath +' '+linkedAssetItem +' '+placeholderPath) ;
                             const ComponentMainSpan = $('<div>').attr({ id:assetItemComponentID, style: 'padding-bottom:0.2em;width:80%', });

                                  const ComponentPathSpan = $('<div>').attr({ id:assetItemComponentID, style: 'padding-bottom:0.2em;width:80%', });
                                   const ComponentPathLabel = $("<label>", {   for: 'ComponentPath',  class: "form-label",  text: 'Component Path (Include component under selected page asset Item)', style:'width:80%;background-color:#e6e6e6;border-color:none; ' });
                                ComponentPathSpan.append(ComponentPathLabel);
                                form.append(ComponentPathSpan);
                                const  ComponentPathTextSpan = $('<div>').attr({ style: 'padding:0em;width:80%',});
                                    const ComponentPathTexteValue = $('<input>').attr({ type: 'text',  id:'ComponentPath_'+ assetItemComponentID, tag:'component', value:componentPath, name: 'ComponentPath',placeholder: 'Enter Component Path' , style:'width:80%;pointer-events: none; opacity: 0.5; '});
                                ComponentPathTextSpan.append(ComponentPathTexteValue);
                                form.append(ComponentPathTextSpan);


                                const ContentPathSpan = $('<div>').attr({ style: 'padding-bottom:0.2em;width:80%', });
                                      const ContentPathLabel = $("<label>", {   for: 'ContentPath',  class: "form-label",  text: 'Content path (Select content asset path associated with Component)', style:'width:80%;background-color:#e6e6e6;border-color:none' });
                                  ContentPathSpan.append(ContentPathLabel);
                                 form.append(ContentPathSpan);
                                 const  ContentPathTextSpan = $('<div>').attr({ style: 'padding:0em;width:80%',});
                                         const ContentPathTexteValue = $('<input>').attr({ type: 'text',  id:'ContentPath_'+assetItemComponentID, tag:'component', value:linkedAssetItem, name: 'ContentPath',placeholder: 'Enter Content Path' , style:'width:80%;pointer-events: none; opacity: 0.5; '});
                                  ContentPathTextSpan.append(ContentPathTexteValue);
                                 form.append(ContentPathTextSpan);


                                 const PlaceholderPathSpan = $('<div>').attr({ style: 'padding-bottom:0.2em;width:80%', });
                                      const PlaceholderPathLabel = $("<label>", {   for: 'PlaceholderPath',  class: "form-label",  text: 'Placeholder (Select placeholder where component will render)', style:'width:80%;background-color:#e6e6e6;border-color:none' });
                                  PlaceholderPathSpan.append(PlaceholderPathLabel);
                                  form.append(PlaceholderPathSpan);
                                  const  PlaceholderPathTextSpan = $('<div>').attr({ style: 'padding:0em;width:80%',});
                                         const PlaceholderPathTexteValue = $('<input>').attr({ type: 'text',  id:'PlaceholderPath_'+assetItemComponentID, tag:'component', value:placeholderPath, name: 'PlaceholderPath',placeholder: 'Enter Placeholder Path' , style:'width:80%;pointer-events: none; opacity: 0.5;'});
                                   PlaceholderPathTextSpan.append(PlaceholderPathTexteValue);
                                  form.append(PlaceholderPathTextSpan);


                                  const SaveComponentSpan = $('<div>').attr({ style: 'border-bottom: 2px none #000000;padding-bottom:1.5em;padding-top:1.5em;width:80%', });
                                 
                                   const SaveComponentButton = $('<input>').attr({ type: 'button', name:'btnSaveComponent', assetItemComponentID:assetItemComponentID ,value: 'Edit Component', id:'btnEditAssetItemComponent_'+assetItemComponentID,  class:'unfake-disabled-button' });
                                       const DeleteComponentButton = $('<input>').attr({ type: 'button', name:'btnDeleteComponent', assetItemComponentID:assetItemComponentID ,value: 'Delete Component', id:'btnDeleteAssetItemComponent_'+assetItemComponentID,  class:'unfake-disabled-button', style:'margin-left:1em;' });
                                SaveComponentSpan.append(SaveComponentButton);
                                   SaveComponentSpan.append(DeleteComponentButton);
                                form.append(SaveComponentSpan);
                                 $("#dynamicFormContainer_Edit_AssetFieldComponentDetails").append(form);

                                    var editbuttonid = '#btnEditAssetItemComponent_' + assetItemComponentID;
                                $(editbuttonid).on('click', function(e) {

                                         const fieldSchemaIDComponent = e.target.getAttribute('assetItemComponentID');
                                         //alert("insidebtnEditAssetItemComponent" +fieldSchemaIDComponent );
                                        $("#dynamicFormContainer_Component").css("display", "block");
                                            componentPathid ="#ComponentPath_" +fieldSchemaIDComponent;
                                             var componentPath=$( componentPathid).val();
                                              // alert("componentPathid" +componentPathid +' '+ componentPath);
                                              var linkedAssetItem=$("#ContentPath_" +fieldSchemaIDComponent).val();
                                              var  placeholderPath=$("#PlaceholderPath_"+fieldSchemaIDComponent).val();
                                             // alert("EditAssetFieldComponentDetails" + fieldSchemaIDComponent + ' ' + componentPath + ' ' + linkedAssetItem + ' ' + placeholderPath);

                                            EditAssetFieldComponentDetails(fieldSchemaIDComponent, componentPath, linkedAssetItem, placeholderPath);

                              });
                                var deletebuttonid = '#btnDeleteAssetItemComponent_' + assetItemComponentID;
                                 $(deletebuttonid).on('click', function(e) {

                                          const fieldSchemaIDComponent = e.target.getAttribute('assetItemComponentID');
                                         //alert("insidebtnEditAssetItemComponent" +currentassetid );
                                        // $("#dynamicFormContainer_Component").css("display", "block");
                                             componentPathid ="#ComponentPath_" +fieldSchemaIDComponent;
                                              var componentPath=$( componentPathid).val();
                                               // alert("componentPathid" +componentPathid +' '+ componentPath);
                                               var linkedAssetItem=$("#ContentPath_" +fieldSchemaIDComponent).val();
                                               var  placeholderPath=$("#PlaceholderPath_"+fieldSchemaIDComponent).val();
                                              // alert("EditAssetFieldComponentDetails" + fieldSchemaIDComponent + ' ' + componentPath + ' ' + linkedAssetItem + ' ' + placeholderPath);

                                            //alert("delete component" +componentPathid);
                                             DeleteAssetFieldComponent(fieldSchemaIDComponent);

                                });

                        });
                          

                }



     function DeleteAssetFieldComponent(assetItemComponentID) {
             alert("DeleteAssetFieldComponent" + assetItemComponentID );
           
             //    e.preventDefault();
             // e.stopPropagation();

                        $.ajax({
                               type: "GET",
                                  url: "/ContentTree/DeleteAssetComponentDetails", 
                               //data: JSON.stringify(requestData),
                                           data: { AssetItemComponentID: assetItemComponentID},
                               contentType: "application/json; charset=utf-8",
                                dataType: "json",
                               success: function (response) {
                                      //alert(response.status);
                                    if (response.status == true) {
                                                 alert("Component has been removed from page item successfully");     
                                         }
                                         else {
                                                   alert("Error while removing component from page item.");
                                         }
                                         return true;
                            },
                         error: function (xhr, status, error) {
                                console.error("Error occurred:", error);
                                 alert("Error occurred:" + error);
                                 return false;
                            }
                    });


        }

     function addEventListener_caretli(childSchemaID) {
         // e.preventDefault();
         //e.stopPropagation();
          var togglerli = document.getElementById(childSchemaID);

          //alert(togglerli.getAttribute("id"));
       // var j;

      //  for (j = 0; j < togglerli.length; j++) {
            //togglerli.addEventListener("click", function () {
               // alert('inside caretli')
                //this.parentElement.querySelector(".nested").classList.toggle("active");
                //this.classList.toggle("caret-down");
                const spans = document.querySelectorAll('span.highlight');
                // 2. Loop through each span and remove the class
                spans.forEach(span => {
                    span.classList.remove('highlight');
                });

                //togglerli.classList.toggle("highlight");
                  if (togglerli) {
                      // alert(togglerli.getAttribute("id"));
                     togglerli.classList.add('highlight');
                    }
               
                //setupcontextmenu(togglerli);

                return;
               
     }

        //************************ */

         if(IDSchema ="4FDB8DDB-C19C-4DCA-AD64-5C2A52F969DE")
            {
           
                const contextMenu = document.getElementById("contextMenu");
                const editdiv = document.getElementById("editdiv");

                const removediv = document.getElementById("removediv");



                var toggler = document.getElementsByClassName("caret");
                var i;
                for (i = 0; i < toggler.length; i++) {
                    toggler[i].addEventListener("click", function (e) {
                        this.parentElement.querySelector(".nested").classList.toggle("active");
                        this.classList.toggle("caret-down");
                        const idSchema = this.getAttribute('id');

                       const allchildLi = this.parentElement.querySelectorAll('ul li');
              
                       allchildLi.forEach(span => {
                             span.remove();
                        });
                         getDbData(idSchema);
                        const spans = document.querySelectorAll('span.highlight');
                        spans.forEach(span => {
                            span.classList.remove('highlight');
                        });
                        this.classList.toggle("highlight");
                        const spans1 = document.querySelectorAll('span.highlight');
                        spans1.forEach(span => {
                           // setupcontextmenu(this);

                        });
                        ViewContentItem(idSchema) ;

                    });
                }
                  
        }

       

        function removefromcontextmenu(element) {
            //alert('remove event');
            element.removeEventListener("contextmenu", function (e) {
                e.preventDefault();
                contextMenu.style.display = "none";
            });
        };

        function closeAllViewPanels()
        {
                        editdiv.style.display = "none";
                            removediv.style.display = "none";
                            duplicatediv.style.display = "none";
                            refreshdiv.style.display = "none";
                            adddiv.style.display = "none";
        }

        // function setupcontextmenu(element) {
        //         if (!element.dataset.hasClickListener) {

        //     element.addEventListener("contextmenu", function (e) {
                 
        //           e.stopPropagation();
        //         e.preventDefault(); 
        //         const currenttag = e.target.getAttribute('tag');
                
        //          const curid = e.target.getAttribute('id');
              
        //         contextMenu.style.top = `${e.clientY}px`;
        //         contextMenu.style.left = `${e.clientX}px`;
        //         contextMenu.style.display = "block";
        //         const listItems = contextMenu.querySelectorAll('ul li');
        //         closeAllViewPanels();

        //         listItems.forEach((li, index) => {

        //             li.setAttribute('itemid', currenttag);
        //            if (!li.dataset.hasClickListener) {
        //             li.addEventListener("click", function (e) {
        //                 e.preventDefault(); // Prevent default browser menu
        //                  e.stopPropagation();
        //                    $("#dynamicFormContainer_Edit_AssetFieldDetails").css("display", "none");
        //                                         $("#masterPageDiv").css("display", "none");
        //                                            $("#ComponentPageDiv").css("display", "none");
        //                const currentitemid = e.target.getAttribute('itemid');
                    
        //                 const currentid = e.target.getAttribute('id');
        //                 if (currentid == 'add_li') {
        //                     adddiv.style.display = "block";
        //                     const innerElement = adddiv.querySelector('h2 span');
                       
        //                       var content=$("#" +currentitemid).html();
        //                          innerElement.innerHTML = "<span style=\"color:red;\">" + content+"</span> <span style=\" font-size:0.6em !important;font-style:italic !important;\" >{Content Tree ID - " +currentitemid +"}</span>";
                            
        //                       var innerSchemaPathElement = adddiv.querySelector('#txtSchemaParent');
                      

        //                         $('#addSchemaForm').find('button[id="btnAddSchemaFields"]').addClass("fake-disabled-button");
        //                           $('#addSchemaForm').find('input[id="txtSchemaName"]').val('');
        //                                $('#addSchemaForm').find('label[id="txtSchemaPath"]').val('');
        //                                    $('#addSchemaForm').find('input[id="txtSchemaParent"]').val(currentitemid);

        //                                      $('#addSchemaForm').find('select[id="AssetTypeDropdown_Add"]').val('0');
        //                                         $('#addSchemaForm').find('input[id="txtAssetItemSchemaAdd"]').val('');


        //                                    var MessageSucess=  $("#lblAddMessageSucess");
        //                                    var MessageError=  $("#lblAddMessageError");
        //                                    MessageSucess.css('display', 'none');
        //                                    MessageError.css('display', 'none');

                                            
        //                 }
        //                 if (currentid == 'refresh_li') {
        //                     refreshdiv.style.display = "block";
        //                     const innerElement = refreshdiv.querySelector('h2 span');
        //                     innerElement.innerHTML = currentitemid;

                   
        //                 }
        //                 if (currentid == 'edit_li') {
        //                     editdiv.style.display = "block";
                        
        //                        $("#editSchemaForm #txtSchemaName").val('');
        //                           $("#editSchemaForm #txtSchemaPath").val('');
        //                               $("#editSchemaForm #lblEditMessageSucess").val('');
        //                                $("#editSchemaForm #lblEditMessageError").val('');
        //                                  $('#editSchemaForm').find('select[id="AssetTypeDropdown_Add"]').val('0');
        //                                  $('#editSchemaForm').find('input[id="txtAssetItemSchema"]').val('');
        //                            $("#editSchemaForm #txtSchemaParent").val(currentitemid);
                            

                         
        //                                     var MessageSucess=  $("#lblEditMessageSucess");
        //                                     var MessageError=  $("#lblEditMessageError");
        //                                     MessageSucess.css('display', 'none');
        //                                     MessageError.css('display', 'none');
        //                                      alert(currentitemid);
        //                                     getSchema( currentitemid );
                                       
        //                                     var content=$("#" +currentitemid).html();
                                          
        //                                          const innerElement = editdiv.querySelector('h2 span');
        //                                       innerElement.innerHTML = content+ " {" +currentitemid +"}";
        //                                          innerElement.innerHTML = "<span style=\"color:red;\">" + content+"</span> <span style=\" font-size:0.6em !important;font-style:italic !important;\" > {ContentTree ID -" +currentitemid +"}</span>";

        //                 }
        //                 if (currentid == 'remove_li') {
        //                       $("#dynamicFormContainer_Edit_AssetFieldDetails").css("display", "none");
        //                                        $("#masterPageDiv").css("display", "none");
        //                                           $("#ComponentPageDiv").css("display", "none");
        //                      removediv.style.display = "block";
                         
        //                              $("#deleteSchemaForm #txtSchemaID").val(currentitemid);
                             


        //                                      var MessageSucess=  $("#lblDeleteMessageSucess");
        //                                      var MessageError=  $("#lblDeleteMessageError");
                                             
                                         
        //                                      var deleteSchemaForm=  $("#deleteSchemaForm");
        //                                      deleteSchemaForm.css('display', 'block');
        //                                       MessageSucess.css('display', 'none');
        //                                       MessageError.css('display', 'none');
        //                                       MessageSucess.html("");
        //                                         MessageError.html("");
                                              

        //                                      var content=$("#" +currentitemid).html();
        //                                      $("#deleteSchemaForm #txtSchemaName").val(content);
        //                                       const innerElement = removediv.querySelector('h2 span');
                                        
        //                                        innerElement.innerHTML = "<span style=\"color:red;\">" + content+"</span> <span style=\" font-size:0.6em !important;font-style:italic !important;\" >{" +currentitemid +"}</span>";
                             

        //                 }
        //                 if (currentid == 'duplicate_li') {
        //                      duplicatediv.style.display = "block";
                           
        //                     const innerElement = duplicatediv.querySelector('h2 span');
        //                     innerElement.innerHTML = currentitemid;
        //                 }
        //                  contextMenu.style.display = "none";
        //             });
        //               li.dataset.hasClickListener = "true";
        //            }
        //         });
        //     });
        //   }
        //    element.dataset.hasClickListener = "true";
        // }




    </script>
 

    </div>
</body>
</html>



    

