USE [TestDCA_V3]
GO
/****** Object:  StoredProcedure [dbo].[dca_curd_publish_queue]    Script Date: 9/23/2026 2:01:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

Create  PROCEDURE [dbo].[dca_publish_subitem_get_all_children_items]
    @PublishAssetID varchar(100)=''  
	
AS
BEGIN

DECLARE @StartParentID INT = 1;

WITH HierarchyCTE AS (
    SELECT 
        assetitemschemamapped as 'ID', 
        ParentID, 
        ItemPath, 
        1 AS HierarchyLevel
    FROM AssetItem
    WHERE ParentID = @PublishAssetID
    UNION ALL
    SELECT 
        child.assetitemschemamapped as 'ID', 
        child.ParentID, 
        child.ItemPath, 
        parent.HierarchyLevel + 1 AS HierarchyLevel
    FROM AssetItem child
    INNER JOIN HierarchyCTE parent ON child.ParentID = parent.ID
)

SELECT ID, ParentID, ItemPath, HierarchyLevel
FROM HierarchyCTE
ORDER BY HierarchyLevel, ItemPath;


   
        
END;
--exec [dca_get_all_children_items] @PublishAssetID = '4FDB8DDB-C19C-4DCA-AD64-5C2A52F969DE'-- CONTENT


--select * from assetitem where itempath like '%/UniversalCMS/Content%' 

select * from assetitem where id ='20AAA705-042D-4924-9B0B-4854480FA837'

select * from assetitem where assetitemschemamapped ='D1B2BE76-C76B-447A-A30A-DDDF4959A8FC'

delete from assetitem where itempath =''