USE [TestDCA_V1]
GO
/****** Object:  StoredProcedure [dbo].[dca_curd_publish_queue_build]    Script Date: 9/21/2026 3:10:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER  PROCEDURE [dbo].[dca_curd_publish_queue_build]
   
    @PublishAssetID varchar(100)='' ,
	@IsPublishSubitems bit = 0
	
AS
BEGIN

CREATE TABLE #FinalResults (
    PublishAssetID VARCHAR(100),
    PublishAssetPath VARCHAR(500),
    PublishDate Datetime ,
	PublishAssetPageID VARCHAR(100),
    PublishAssetPagePath VARCHAR(500)

);
  --select * from assetitem
IF NOT EXISTS (Select Top 1 ID  from PublishQueue where PublishAssetID=@PublishAssetID)
	BEGIN 

	Declare @PublishAssetItemID as Varchar(500)
	set @PublishAssetItemID=(Select Top 1 id from assetitem where AssetItemSchemaMapped= @PublishAssetID)
	  Declare @PublishAssetPathData as Varchar(500)
	   set @PublishAssetPathData=(Select Top 1 itempath from assetitem where AssetItemSchemaMapped= @PublishAssetID)
	   select @PublishAssetPathData as 'PublishAssetPath'
	   Declare @IsPublishItemAvailable  as bit =0

	   if exists (Select
						   @PublishAssetID as 'PublishAssetID',
						   @PublishAssetPathData as 'PublishAssetPath',
						   GetDate() as 'PublishDate',
						   ID as 'PublishAssetPagID',
						   ItemPath  as'PublishAssetPagePath'  from assetitem where MasterPageLayoutPath=@PublishAssetPathData
						   )
		   begin 

		   set @IsPublishItemAvailable= 1

					INSERT INTO #FinalResults (PublishAssetID, PublishAssetPath, PublishDate, PublishAssetPageID, PublishAssetPagePath)
					Select
				   @PublishAssetID as 'PublishAssetID',
				   @PublishAssetPathData as 'PublishAssetPath',
				   GetDate() as 'PublishDate',
				   ID as 'PublishAssetPagID',
				   ItemPath  as'PublishAssetPagePath'  from assetitem where MasterPageLayoutPath=@PublishAssetPathData
		   end 



		if(@IsPublishItemAvailable != 1)
			begin
				   if exists( Select Top 1 itempath from assetitem where AssetItemSchemaMapped=@PublishAssetID  and masterpagelayoutpath != '')
				   begin 
						set @IsPublishItemAvailable= 1
						select @IsPublishItemAvailable as 'publishstatus under assetitem' 
						if exists (Select
									   @PublishAssetID as 'PublishAssetID',
									   @PublishAssetPathData as 'PublishAssetPath',
									   GetDate() as 'PublishDate',
									   ID as 'PublishAssetPagID',
									   ItemPath  as'PublishAssetPagePath'  from assetitem where AssetItemSchemaMapped=@PublishAssetID
									   )
					   begin 
								INSERT INTO #FinalResults (PublishAssetID, PublishAssetPath, PublishDate, PublishAssetPageID, PublishAssetPagePath)
								Select
							   @PublishAssetID as 'PublishAssetID',
							   @PublishAssetPathData as 'PublishAssetPath',
							   GetDate() as 'PublishDate',
							   ID as 'PublishAssetPagID',
							   ItemPath  as'PublishAssetPagePath'  from assetitem where AssetItemSchemaMapped=@PublishAssetID
					   end 
				   end 
			end 

			if(@IsPublishItemAvailable != 1)
			begin 
			select @IsPublishItemAvailable as 'publishstatus' 
			if exists (	Select
				   @PublishAssetID as 'PublishAssetID',
				   @PublishAssetPathData as 'PublishAssetPath',
				   GetDate() as 'PublishDate',
				   ID as 'PublishAssetPagID',
				   ItemPath  as'PublishAssetPagePath'  from assetitem where ID IN (
			select AssetItemID from assetitemfields where assetfieldvalue =@PublishAssetPathData or assetfieldvalue like '%' +  @PublishAssetItemID + '%')
			)

			begin 
			INSERT INTO #FinalResults (PublishAssetID, PublishAssetPath, PublishDate, PublishAssetPageID, PublishAssetPagePath)
			Select
				   @PublishAssetID as 'PublishAssetID',
				   @PublishAssetPathData as 'PublishAssetPath',
				   GetDate() as 'PublishDate',
				   ID as 'PublishAssetPagID',
				   ItemPath  as'PublishAssetPagePath'  from assetitem where ID IN (
			select AssetItemID from assetitemfields where assetfieldvalue =@PublishAssetPathData or assetfieldvalue like '%' +  @PublishAssetItemID + '%')
			end 
			--select * from assetitemfields where assetfieldvalue =@PublishAssetPathData
			end 

			if(@IsPublishItemAvailable != 1)
			begin 
			select @IsPublishItemAvailable as 'publishstatus' 
			if exists (	Select
				   @PublishAssetID as 'PublishAssetID',
				   @PublishAssetPathData as 'PublishAssetPath',
				   GetDate() as 'PublishDate',
				   ID as 'PublishAssetPagID',
				   ItemPath  as'PublishAssetPagePath'  from assetitem where ID IN (
						select AssetItemID from componentpresentation where Componentpath =@PublishAssetPathData or linkedassetitem = @PublishAssetPathData or placeholderpath  =@PublishAssetPathData  )
			
			)
			INSERT INTO #FinalResults (PublishAssetID, PublishAssetPath, PublishDate, PublishAssetPageID, PublishAssetPagePath)
			Select
				   @PublishAssetID as 'PublishAssetID',
				   @PublishAssetPathData as 'PublishAssetPath',
				   GetDate() as 'PublishDate',
				   ID as 'PublishAssetPagID',
				   ItemPath  as'PublishAssetPagePath'  from assetitem where ID IN (
						select AssetItemID from componentpresentation where Componentpath =@PublishAssetPathData or linkedassetitem = @PublishAssetPathData or placeholderpath  =@PublishAssetPathData  )
			--select * from componentpresentation 
			end 
	END  
	select PublishAssetID, PublishAssetPath, PublishDate, PublishAssetPageID, PublishAssetPagePath from  #FinalResults
	
	select count(*)  as finalresultscount from  #FinalResults

	IF EXISTS (SELECT 1 FROM #FinalResults)
		BEGIN
	
			INSERT INTO [dbo].[PublishQueue]
				   (
				   [PublishAssetID]
				   ,[PublishAssetPath]
				   ,[PublishAssetPageID]
				   ,[PublishAssetPagePath]
				   ,[PublishDate ]
				 )
			select  
						PublishAssetID,
						PublishAssetPath,
						PublishAssetPageID,
						PublishAssetPagePath  ,
						PublishDate
			from #FinalResults
		end 
		DROP TABLE #FinalResults;
END
--select * from publishqueue
--exec dca_curd_publish_queue_build @PublishAssetID = '8144904A-FC80-49CE-AE62-CD89753D106D'

--exec dca_curd_publish_queue_build @PublishAssetID = '0377C6DF-102D-4A44-903F-8038A9209FDC'  --/UniversalCMS/Media/System

--exec dca_curd_publish_queue_build @PublishAssetID = '0377C6DF-102D-4A44-903F-8038A9209FDC' Asset Name: ' --/UniversalCMS/Content/SharedData/Article/Header

--select * from [PublishQueue]

--delete from publishqueue






