@model HomeViewModel
@{
    ViewData["Title"] = "Home Page";
}



<div style="background-color:#C2BEE5;height:80vh;">
    <h1 class="display-4">Content Body </h1>
    @* <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web contnet body with ASP.NET Core</a>.</p> *@

<p>Model value at contnet  level</p>
<p>BrowserUrl -- @Model.BrowserUrl</p>
<p>InternalUrl -- @Model.ReWriteUrl
    <p>
    Welcome to [Your House Show Name], a grassroots listening room right in the heart of White Plains. We strip away the barriers 
    of traditional venues to create an intimate, distraction-free space where local artists and music lovers can connect on a deeply personal level.
    </p>
</div>
