@model HomeViewModel

@{
    ViewData["Title"] = "Home Page";
}
<div style="background-color:#757387;color:white">
    <h1 class="display-4">Header</h1>


<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container-fluid">
            <a class="navbar-brand">Product portal</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                            <a class="nav-link text-dark" href="~/home/index?id=1">Home</a>
                    </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="~/product/Catalog?id=2">Catalog</a>
                        </li>
                    <li class="nav-item">
                            <a class="nav-link text-dark" href="~/product/order?id=2">Order</a>
                    </li>
                    <li class="nav-item">
                            <a class="nav-link text-dark" href="~/product/payment?id=2">Payment</a>
                    </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="~/product/Privacy?id=2">Privacy</a>
                        </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
@* <p>Model value at Header level</p>
<p>BrowserUrl -- @Model.BrowserUrl</p> *@
</div>

