USE [TestPFP]
GO
/****** Object:  StoredProcedure [dbo].[dca_curd_asset_schema]    Script Date: 6/12/2026 1:58:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER  PROCEDURE [dbo].[dca_curd_asset_schema]
	@ID varchar(500)= '',
    @SchemaName varchar(500), 
	@SchemaPath varchar(500)='', 
	@ParentID  varchar(500),
    @Query int

AS
BEGIN
  --select * from AssetSchema
if(@Query=1)
BEGIN
    INSERT INTO [dbo].[AssetSchema]
           (
           [SchemaName]
           ,[SchemaPath]
           ,[ParentID])
     VALUES
           (
           @SchemaName,
           @SchemaPath,
           @ParentID)
END
if(@Query=2)
    BEGIN
        UPDATE [dbo].[AssetSchema]
         SET 
            [SchemaName] =  @SchemaName,
            [SchemaPath] =  @SchemaPath,
            [ParentID] = [ParentID]
        WHERE ID= @ID
    END

if(@Query=3)
    BEGIN
            DELETE FROM [dbo].[AssetSchema]
            WHERE ID= @ID

    END
   
   if(@Query=4)
    BEGIN
            SELECT [ID]
                 ,[SchemaName]
                ,[SchemaPath]
                 ,[ParentID]
        FROM [dbo].[AssetSchema]
            WHERE ID= @ID;

                WITH BreadcrumbCTE AS (
                SELECT 
                    ID, 
                    SchemaName, 
                   ParentID, 
                    1 AS [Level] -- Track depth
                FROM AssetSchema
                WHERE ID = @ID

                UNION ALL
                SELECT 
                    c.ID, 
                    c.SchemaName, 
                    c.ParentID, 
                    b.[Level] + 1 AS [Level]
                FROM AssetSchema c
                INNER JOIN BreadcrumbCTE b ON c.ID = b.ParentID
  
                )
                SELECT ID, SchemaName, ParentID,Level
                FROM BreadcrumbCTE
                ORDER BY [Level] desc

                

    END
        
END;