USE [DynamicContentSecond]
GO
/****** Object:  StoredProcedure [dbo].[dca_get_contenttree_item]    Script Date: 6/13/2026 3:40:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER  PROCEDURE [dbo].[dca_get_contenttree_item]
	@SchemaID  VARCHAR(100) = ''
	
AS




if( @SchemaID ='')
BEGIN
  SELECT * 
            FROM [AssetSchema] ASP 
            where asp.ParentID IS NULL
		
END
ELSE
    BEGIN 
   -- select count(*) from [AssetSchema] 
     --select count(*) as ChildChildCount, newschema.ParentSchemaID, newschema.ParentSchemaName, newschema.ChildSchemaID, newschema.ChildSchemaName  from [AssetSchema] 
     --inner join 
    -- (
		  SELECT 
            asp.SchemaName  AS ParentSchemaName,
            asp.ID AS ParentSchemaID,
            ass.SchemaName AS ChildSchemaName, 
            ass.id AS ChildSchemaID
           
           
        FROM 
        [AssetSchema] asp
        Inner JOIN 
    [AssetSchema] ass ON asp.ID = ass.ParentID
            where asp.id = @SchemaID
            ORDER BY ass.SchemaName ASC
            --) as newschema
            --on ID= newschema.ChildSchemaID
            --group by newschema.ParentSchemaID, newschema.ParentSchemaName, newschema.ChildSchemaID, newschema.ChildSchemaName
    END

-- EXEC dca_get_contenttree_item @SchemaID ='4FDB8DDB-C19C-4DCA-AD64-5C2A52F969DE'

--EXEC dca_get_contenttree_item


--select count(*) from assetschema where ParentID in ('1049D17E-6C1C-45A9-9B75-5F779B61023E',
--'111035FA-612A-4EB5-9CBC-8DF91E9152A3',
--'D1B2BE76-C76B-447A-A30A-DDDF4959A8FC',
--'DC30B818-0EF8-4BF9-84E2-812EC508A483')
