<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="/lib/jquery/dist/jquery.min.js"></script>
   
    
    <style>
        body {
            margin: 0;
            font-family: Arial, Helvetica, sans-serif;
        }

        .topnav {
            overflow: hidden;
            background-color: #333;
        }

            .topnav a {
                float: left;
                color: #f2f2f2;
                text-align: center;
                padding: 14px 16px;
                text-decoration: none;
                font-size: 17px;
            }

                .topnav a:hover {
                    background-color: #ddd;
                    color: black;
                }

                .topnav a.active {
                    background-color: #af8d84;
                    color: white;
                }
    </style>
    <style>
        .default-color {
            color: black;
            background-color: #f4f4f4;
        }
        /* Toggled color */
        .highlight {
            color: black;
            background-color: lightgray;
        }

        ul, #myUL {
            list-style-type: none;
        }

        #myUL {
            margin: 0;
            padding: 0;
        }

        .caret {
            cursor: pointer;
            -webkit-user-select: none; /* Safari 3.1+ */
            -moz-user-select: none; /* Firefox 2+ */
            -ms-user-select: none; /* IE 10+ */
            user-select: none;
        }

            .caret::before {
                content: "\25B6";
                color: RED;
                display: inline-block;
                margin-right: 6px;
            }

        .caret-down::before {
            -ms-transform: rotate(90deg); /* IE 9 */
            -webkit-transform: rotate(90deg); /* Safari */
            ' transform: rotate(90deg);
        }

        .nested {
            display: none;
        }

        .active {
            display: block;
        }
    </style>
    <style>
        body {
            font-family: Arial, sans-serif;
            height: 100vh;
            margin: 0;
            background: #f4f4f4;
        }

        /* Context menu container */
        #contextMenu {
            position: absolute;
            display: none;
            background: #fff;
            border: 1px solid #ccc;
            box-shadow: 2px 2px 6px rgba(0,0,0,0.2);
            border-radius: 5px;
            z-index: 1000;
            min-width: 160px;
            overflow: hidden;
        }

            /* Menu items */
            #contextMenu ul {
                list-style: none;
                margin: 0;
                padding: 0;
            }

            #contextMenu li {
                padding: 10px 15px;
                cursor: pointer;
                transition: background 0.2s;
            }

                #contextMenu li:hover {
                    background: #0078d7;
                    color: white;
                }
    </style>
    <style>
        .main-container {
            display: flex; /* Enables Flexbox */
            width: 100%; /* Ensures the container spans the full width available */
            margin: 0; /* Removes default browser spacing */
            min-height: 100dvh;
        }

        .main-container-header {
            display: flex; /* Enables Flexbox */
            width: 100%; /* Ensures the container spans the full width available */
            margin: 0; /* Removes default browser spacing */
            min-height: 7dvh;
            background-color: #af8d84;
        }

        .sidebar-header {
            width: 15%; /* Sets the width to 25% */
            background-color: #af8d84;
            border-style: solid;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .sidebar {
            width: 15%; /* Sets the width to 25% */
            background-color: #f0f0f0;
        }

        .content {
            width: 85%; /* Sets the width to 75% */
            background-color: #e0e0e0;
        }

        .unfake-disabled-button {
            background-color: red;
            border-color: red;
            border-style: none;
            color: white;
            height: 2em;
            width: 10em;
        }
        .fake-disabled-button {
            pointer-events: none; /* Block clicks */
            opacity: 0.5; /* Fade out */
            height: 2em;
            width: 10em;
        }

        .fake-disabled-input {
            pointer-events: none; /* Block clicks */
            opacity: 0.5; /* Fade out */
            height: 1em;
            width: 10em;
        }
        

        .scroll-container {
            width: 30dvh; /* Limits the horizontal size */
          
            height: 100dvh; /* Limits the vertical size */
            overflow: auto; /* Automatically adds x and y scrollbars if needed */
        }
    </style>
</head>
<body>
    @* <div class="topnav">
        <a class="active" href="#home">Home</a>
        <a href="#news">Nagivation</a>
        <a href="#contact">Publish</a>
        <a href="#about">Review</a>
        <a href="#home">Presentation</a>
        <a href="#news">Security</a>
        <a href="#contact">Seralization</a>

    </div>
    <div class="main-container-header">
        <div class="sidebar-header"> SubItem</div>
        <div class="sidebar-header"> SubItem</div>
        <div class="sidebar-header"> SubItem</div>
        <div class="sidebar-header"> SubItem</div>
        <div class="sidebar-header"> SubItem</div>
        <div class="sidebar-header"> SubItem</div>
        <div class="sidebar-header"> SubItem</div>

    </div> *@
    <div class="main-container " >
        <div class="sidebar scroll-container ">

            <h2>Content Tree</h2>


            <ul id="myUL">
                <li  tag="4FDB8DDB-C19C-4DCA-AD64-5C2A52F969DE">
                    <span id="4FDB8DDB-C19C-4DCA-AD64-5C2A52F969DE" tag="4FDB8DDB-C19C-4DCA-AD64-5C2A52F969DE" class="caret default-color">UniversalCMS</span>
                    <ul id="4FDB8DDB-C19C-4DCA-AD64-5C2A52F969DE" class="nested">
                        <li>
                            <span tag="101" class="caretli">Water</span>
                        </li>
                        <li><span tag="102" class="caretli ">Coffee</span></li>
                        <li>
                            <span tag="200" class="caret">Tea</span>
                            <ul class="nested">
                                <li>
                                    <span tag="202" class="caretli">Black Tea</span>
                                </li>
                                <li>
                                    <span tag="203" class="caretli">White Tea</span>
                                </li>
                                <li>
                                    <span tag="300" class="caret default-color">Green Tea</span>
                                    <ul class="nested">
                                        <li>
                                            <span tag="300" class="caretli">Sencha</span>
                                        </li>
                                        <li>
                                            <span tag="301" class="caretli">Gyokuro</span>
                                        </li>
                                        <li>
                                            <span tag="302" class="caretli">Matcha</span>
                                        </li>
                                        <li>
                                            <span tag="303" class="caretli">Pi Lo Chun</span>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>

        </div>
        <div class="content" style="border-style: solid; border-color:#f4f4f4;background-color: #EFF5E9;padding:2em;">
            <div class="content" style="border-style: solid; border-color:#f4f4f4;background-color: #D3E0C3;padding:2em;">
                <div id="adddiv" style="display: none;  background-color: #D3E0C3;">

                <form action="/schema/add" method="POST" id="addSchemaForm">
                <h2>To create new item under parent node- <span></span></h2>

                <p>
                    <label for="schemaName">Asset Name:</label>
                        <input type="text" id="txtSchemaName" name="schemaName" style="width:500px" >
                </p>
                <p>
                    <label for="schemaPath">Asset Path:</label>
                            <input type="text" id="txtSchemaPath" name="schemaPath" class="fake-disabled-input" style="width:500px">
                </p>
                <p>
                    <label for="schemaParent">Asset Parent:</label>
                            <input type="text" id="txtSchemaParent" name="schemaParent" class="fake-disabled-input" style="width:500px">
                </p>
                        <p>
                            <label for="AssetTypeDropdown_Add">AssetType:</label>
                            <!-- 1. Create the empty HTML Dropdown -->
                            <select id="AssetTypeDropdown_Add">
                               @*  <option value="">-- Select an Option --</option> *@
                            </select>
                        </p>
                <p>
                            <span id="spanAssetItemSchema_Add" style="display:block;padding:2em;border:solid;margin-bottom:2em;">
                                <label for="txtAssetItemSchema">Schema linked with Asset Item:</label>
                                <input type="text" id="txtAssetItemSchema" name="AssetItemSchema" value="NONE" class="unfake-disabled-input" style="width:500px;">
                            </span>

                       @*  <button  id ="btnAddSchemaFields" onclick="addFieldsSchema()" class="fake-disabled-button" >Add Fields</button> *@

                        <button id="btnAddSchemaFields"  class="unfake-disabled-button fake-disabled-button">Add Fields</button>
                        @*<button id="btnSaveSchema"  onclick="saveSchema();">Save Schema</button>*@

                        <button id="btnSaveSchema" class="unfake-disabled-button" >Create </button>
                       
                </p>

                    <p>
                        <span id="lblAddMessageSucess" style="width:1000px;display:none;font-size:2em; color:green">Schema has been created successfully.</span>
                        <span id="lblAddMessageError" style="width:1000px;display:none;font-size:2em;color:red"> Opps! Error while creating schema.</span>
                      
                    </p>

               @*  <p>Click on the arrow(s) to open or close the tree branches.</p>
                    <p> <button type="submit">Submit</button></p> *@
                </form>
                    <div id="dynamicFormContainer_Add"></div>

            </div>

                <div id="refreshdiv" style="display: none;  border-color:#f4f4f4;background-color: #D3E0C3;padding:2em;padding:2em;">

                <h2>Refresh existed item - <span></span></h2>

                <p>This form is to add informaiton on existed item</p>
                <p>Click on the arrow(s) to open or close the tree branches.</p>

            </div>
                <div id="editdiv" style="display: none;  background-color: #D3E0C3;">

                <form action="/schema/edit" method="POST" id="editSchemaForm">
                    <h2>To edit selected item -  <span></span></h2>


                    <p>
                        <label for="schemaID">Asset ID:</label>
                            <input type="text" id="txtSchemaID" name="schemaID" class="fake-disabled-input" style="width:500px">
                    </p>
                        <p>
                            <label for="schemaID">Asset Item TreeID:</label>
                            <input type="text" id="txtAssetItemTreeeID" name="assetItemTreeeID" class="fake-disabled-input" style="width:500px">
                        </p>
                    <p>
                        <label for="schemaName">Asset Name:</label>
                        <input type="text" id="txtSchemaName" name="schemaName" style="width:500px">
                    </p>
                    <p>
                        <label for="schemaPath">Asset Path:</label>
                            <input type="text" id="txtSchemaPath" name="schemaPath" class="fake-disabled-input" style="width:500px">
                    </p>
                    <p>
                        <label for="schemaParent">Asset Parent:</label>
                            <input type="text" id="txtSchemaParent" name="schemaParent" class="fake-disabled-input" style="width:500px;">
                    </p>
                        <p>
                            <label for="AssetTypeDropdown_Edit">AssetType:</label>
                            <!-- 1. Create the empty HTML Dropdown -->
                            <select id="AssetTypeDropdown_Edit">
                                @* <option value="">-- Select an Option --</option> *@
                            </select>
                        </p>
                    <p>
                            <span id="spanAssetItemSchema_Edit" style="display:block;padding:2em;border:solid;margin-bottom:2em;">
                            <label for="txtAssetItemSchema">Schema linked with Asset Item:</label>
                            <input type="text" id="txtAssetItemSchema" name="AssetItemSchema" value="NONE" class="unfake-disabled-input" style="width:500px;">
                                <button id="openPopupBtn">...</button>
                        </span>
                        @*  <button  id ="btnAddSchemaFields" onclick="addFieldsSchema()" class="fake-disabled-button" >Add Fields</button> *@

                        <button id="btnEditSchemaFields" class="unfake-disabled-button fake-disabled-button">Add Fields</button>
                        @*<button id="btnSaveSchema"  onclick="saveSchema();">Save Schema</button>*@

                        <button id="btnEditSchema" class="unfake-disabled-button" >Save </button>

                    </p>

                    <p>
                        <span id="lblEditMessageSucess" style="width:1000px;display:none;font-size:2em; color:green">Schema has been modified successfully.</span>
                        <span id="lblEditMessageError" style="width:1000px;display:none;font-size:2em;color:red"> Opps! Error while modifying schema.</span>

                    </p>

                    @*  <p>Click on the arrow(s) to open or close the tree branches.</p>
                    <p> <button type="submit">Submit</button></p> *@
                </form>
                    <div id="dynamicFormContainer_Edit" style="border-style:solid; border-width:solid; border-color:darkslategray; padding:2em;display:none;"></div>

            </div>
                <div id="removediv" style="display:none; border-style:none; border-color:#f4f4f4;background-color:#D3E0C3;padding:2em;">

                <form action="/schema/delete" method="POST" id="deleteSchemaForm">
                    <h2>To delete selected item -  <span></span></h2>
                    <h4>Are you sure you want to delete this item?  <span></span></h4>

                    <p>
                        <label for="schemaID">Schema ID:</label>
                        <input type="text" id="txtSchemaID" name="schemaID" class="fake-disabled-input" style="width:500px">
                    </p>
                        <p>
                            <label for="schemaName">Schema Name:</label>
                            <input type="text" id="txtSchemaName" class="fake-disabled-input"  name="schemaName" style="width:500px">
                        </p>
                    
                    <p>

                        @*  <button  id ="btnAddSchemaFields" onclick="addFieldsSchema()" class="fake-disabled-button" >Add Fields</button> *@

                       
                        <button id="btnCancelDelete" class="unfake-disabled-button" >Cancel</button>
                        <button id="btnDeleteSchema" class="unfake-disabled-button" >Delete Schema</button>

                    </p>

                    

                    @*  <p>Click on the arrow(s) to open or close the tree branches.</p>
                    <p> <button type="submit">Submit</button></p> *@
                </form>
                <p>
                    <span id="lblDeleteMessageSucess" style="width:1000px;display:none;font-size:2em; color:green">Schema deleted successfully.</span>
                    <span id="lblDeleteMessageError" style="width:1000px;display:none;font-size:2em;color:red"> Opps! Error while deleting schema.</span>

                </p>

            </div>

            <div id="duplicatediv" style="display: none; border-style: solid; background-color: #e0e5da;padding:2em;">

                <h2>Duplicate selected item - <span></span></h2>
                <p>This form is to remove existed item</p>
                <p>Click on the arrow(s) to open or close the tree branches.</p>

            </div>

        </div>
        </div>
    </div>




    <!-- Custom Context Menu -->
    <div id="contextMenu">
        <ul>
            <!-- <li id="edit_li" onclick="alert('Option 1 clicked')">Edit</li>
             <li id="remove_li"  onclick="alert('Option 2 clicked')">Remove</li>
             <li id="duplicate_li" onclick="alert('Option 3 clicked')">Duplicate</li>-->
            <li id="add_li">Create</li>
            <li id="edit_li">Edit</li>
            <li id="remove_li">Remove</li>
            <li id="duplicate_li">Duplicate</li>
            <li id="refresh_li">Refresh</li>
            

        </ul>
    </div>
    <input type="hidden" id="hdnChildCount" runat="server" value="0"  />

    <script src="/lib/jquery/dist/jquery.min.js"></script>
    <script src="/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/js/site.js?v=hRQyftXiu1lLX2P9Ly9xa4gHJgLeR1uGN5qegUobtGo"></script>
</body>
</html>

    <script>

                var IDSchema = "4FDB8DDB-C19C-4DCA-AD64-5C2A52F969DE";
                var childChildCountarr = [];

            getDbData(IDSchema);
            ViewContentItem(IDSchema) ;

           

             //alert("child cound"+childChildCountarr.length);
            // $(childChildCountarr).each(function (index, value) {
          // alert("childChildCountarr" );
                    // checkChildCountNew(value);
              //  });
              //checkChildCountNew(IDSchema);

        //alert('start calling controller');
             function getDbData( IDSchema ) {

                         var requestData = {
                                SchemaID: IDSchema
                         };
                //alert(requestData);
            $.ajax({
                type: "GET",
                url: "/ContentTree/GetChildSchema", // PageName/MethodName
                //data: JSON.stringify(requestData),
                 data: { SchemaID: IDSchema },
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                async: false,
                success: function (response) {
                     //alert("success");
                     console.log("Success:", response);
                     
                     if(response.length>0)
                     {
                       
                       //alert("Total records received: " + response.length);
                               
                      $.each(response, function(index, record) {
                                // Access specific fields belonging to each record row
                                console.log("Record ParentSchemaName: " + record.parentSchemaName);
                                 console.log("Record ParentSchemaID: " + record.parentSchemaID);
                                console.log("Record ChildSchemaName: " + record.childSchemaName);
                                console.log("Record ChildSchemaID: " + record.childSchemaID);
                                //childChildCountarr.push(record.childSchemaID);
                                //alert("childSchemaID" + record.childSchemaID);
                               //alert(childChildCountarr.length);
                               
                                     checkChildCount(record.childSchemaID);
                                     //alert("After checkchildcount call hiddend" + $("#hdnChildCount").val());

                                 var childhiddenCount = $("#hdnChildCount").val();
                                 //alert("hiddend" + $("#hdnChildCount").val());
                                  // var myUl = $("#myUL").find("#" + IDSchema);
                                    var myUl = $("#myUL").find("ul[id='" + IDSchema+"']");
                                if (parseInt(childhiddenCount) > 0) {
                             
                                   //alert("inside hidden count greater");
                              

                              
                              // myUl.append("<li><span tag='100' class='caret default-color'>"+record.childSchemaName+"</span><ul id='"+record.childSchemaID+ "' class='nested'><li><span tag='202' class='caretli'>Not Available</span></li></ul></li>");
                                // myUl.append("<li><span  onclick=GetChildOfSelectedUL('" + record.childSchemaID + "'); tag='"+record.childSchemaID+ "' id='"+record.childSchemaID+  "' class='caret default-color'>"+record.childSchemaName+"</span><ul id='"+record.childSchemaID+ "' onclick=GetChildOfSelectedUL('" + record.childSchemaID + "');  tag='"+record.childSchemaID+ "' class='nested'><li></li></ul></li>");
                                                   myUl.append("<li><span  onclick=GetChildOfSelectedUL('" + record.childSchemaID + "'); tag='"+record.childSchemaID+ "' id='"+record.childSchemaID+  "' class='caret default-color'>"+record.childSchemaName+"</span><ul id='"+record.childSchemaID+ "'  tag='"+record.childSchemaID+ "' class='nested'><li></li></ul></li>");
                                //myUl.append("");
                               //addEventListener_caret();
                                
                               }
                               else
                               {
                                   //alert("inside hidden count smaller");
                                     myUl.append("<li><span id='"+record.childSchemaID+ "' tag='"+record.childSchemaID+ "' onclick=GetChildOfSelectedLI('" + record.childSchemaID + "'); class='caretli'>"+record.childSchemaName+"</span></li>");
                               //addEventListener_caretli()
                               }

                              

                                //************************* */
                               // var myUl = $("#myUL").find("#" + IDSchema);
                               // myUl.append("<li><span id='"+record.childSchemaID+ "' tag='"+record.childSchemaID+ "' onclick=GetChildOfSelected('" + record.childSchemaID + "'); class='caretli'>"+record.childSchemaName+"</span></li>");
                              
                                //****************** 
                                 //  let specificUl = $('ul#myList');
                               // var myUl = $("#myUL").find("#" + IDSchema);
                               
                               //myUl.append("<li><span tag='100' class='caret default-color'>"+record.childSchemaName+"</span>");
                               // myUl.append("<ul id='"+record.childSchemaID+ "' class='nested'>");
                              
                              

                         });
                           //myUl.append("</li></ul");
                         }
                // Code to handle successful server response
                //console.log("Success:", response);
                       // alert(response.message + " Status is: " + response.currentStatus);
                     },
                 error: function (xhr, status, error) {
                // Code to handle execution errors
                        console.error("Error occurred:", error);
                        // alert("Error occurred:" + error);
                    }
            });
        }

        function checkChildCount( IDSchema ) {
            var childCount= 0;
                         var requestData = {
                                SchemaID: IDSchema
                         };

                        // $("#hdnChildCount").val('0');
            $.ajax({
                type: "GET",
                url: "/ContentTree/GetChildSchema", // PageName/MethodName
                //data: JSON.stringify(requestData),
                 data: { SchemaID: IDSchema },
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                 async: false,
                success: function (response) {
                     //alert("checkChildCount");
                     //console.log("Success:", response);
                    // alert(response.length);
                         if(response.length>0)
                         {
                             $("#hdnChildCount").val(response.length);
                             //alert(response.length);
                             //alert("inside checkchildcount" + $("#hdnChildCount").val());
                            //childCount=response.length;
                           //console.log("Total records received: " + response.length);
                     
                         }
                         else 
                         {
                              $("#hdnChildCount").val("0");
                               //alert("inside checkchildcount if count zero" + $("#hdnChildCount").val());
                         }
                     },
                 error: function (xhr, status, error) {
                        console.error("Error occurred:", error);
                        // alert("Error occurred:" + error);
                    }
            });
            
        }



         function checkChildCountNew( IDSchema ) {
            var childCount= 0;
                         var requestData = {
                                SchemaID: IDSchema
                         };

                        // $("#hdnChildCount").val('0');
            $.ajax({
                type: "GET",
                url: "/ContentTree/GetChildSchema", // PageName/MethodName
                //data: JSON.stringify(requestData),
                 data: { SchemaID: IDSchema },
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                     //alert("success");
                     //console.log("Success:", response);
                    // alert(response.length);
                                if(response.length>0)
                                {
                           
                              // if(childhiddenCount>0)
                              // {
                                  // alert("inside hidden count greater");
                                var myUl = $("#myUL").find("#" + IDSchema);

                               myUl.append("<li><span tag='100' class='caret default-color'>"+record.childSchemaName+"</span>");
                               myUl.append("<ul id='"+record.childSchemaID+ "' class='nested'>");
                               myUl.append("</ul");
                               }
                               else
                               {
                                  // alert("inside hidden count smaller");
                                     myUl.append("<li><span id='"+record.childSchemaID+ "' tag='"+record.childSchemaID+ "' onclick=GetChildOfSelected('" + record.childSchemaID + "'); class='caretli'>"+record.childSchemaName+"</span></li>");
                               }

                         
                     },
                 error: function (xhr, status, error) {
                        console.error("Error occurred:", error);
                        // alert("Error occurred:" + error);
                    }
            });

        }
        function getDbData2( IDSchema ) {

                         var requestData = {
                                SchemaID: IDSchema
                         };
                //alert(requestData);
            $.ajax({
                type: "GET",
                url: "/ContentTree/GetChildSchema", // PageName/MethodName
                //data: JSON.stringify(requestData),
                data: { SchemaID: IDSchema },
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                     //alert("success");
                     console.log("Success:", response);
                       console.log("Total records received: " + response.length);
                      $.each(response, function(index, record) {
                                // Access specific fields belonging to each record row
                                console.log("Record ParentSchemaName: " + record.parentSchemaName);
                                 console.log("Record ParentSchemaID: " + record.parentSchemaID);
                                console.log("Record ChildSchemaName: " + record.childSchemaName);
                                console.log("Record ChildSchemaID: " + record.childSchemaID);

                               // var childCount= checkChildCount( IDSchema );
                               // if(childCount>0)
                               // {
                               //  var myUl = $("#myUL").find("#" + IDSchema);

                               // myUl.append("<li><span tag='100' class='caret default-color'>"+record.childSchemaName+"</span>");
                               // myUl.append("<ul id='"+record.childSchemaID+ "' class='nested'>");
                               // myUl.append("</ul");
                               // }
                               // else 
                               // {
                                     myUl.append("<li><span id='"+record.childSchemaID+ "' tag='"+record.childSchemaID+ "' onclick=GetChildOfSelected('" + record.childSchemaID + "'); class='caretli'>"+record.childSchemaName+"</span></li>");
                               //}

                         });
                // Code to handle successful server response
                //console.log("Success:", response);
                       // alert(response.message + " Status is: " + response.currentStatus);
                     },
                 error: function (xhr, status, error) {
                // Code to handle execution errors
                        console.error("Error occurred:", error);
                         alert("Error occurred:" + error);
                    }
            });
        }
   
    function  GetChildOfSelectedLI(childSchemaID) {
       // alert('GetChildOfSelectedLI event' +childSchemaID);
       // getDbData( childSchemaID );
        //var toggler = document.getElementById(childSchemaID);
       //toggler.removeEventListener("contextmenu");
        addEventListener_caretli(childSchemaID)
        ViewContentItem(childSchemaID) ;
       
    };
         $('#btnSaveSchema').on('click', function(e) {
        e.preventDefault(); // This stops the form from submitting and redirecting
            e.stopPropagation();
            
                 //$("#btnAddSchemaFields").removeClass("fake-disabled-button");
                    var MessageSucess=  $("#lblAddMessageSucess");
                           var MessageError=  $("#lblAddMessageError");
                             MessageSucess.css('display', 'none');
                                MessageError.css('display', 'none');

                           // MessageSucess.style.display = "none";
                         // MessageErrir.style.display= "none";
                   
                
                 // $("#btnSaveSchema").addClass("fake-disabled-button");

                    //var inputValue = $('#username').val();
                    // addSchemaForm

                     //var parentForm = this.closest('form');
                       // alert(parentForm.id  );
                         // var txtSchemaName = $('#addSchemaForm').find('input[id="txtSchemaName"]').val();
                         //    var txtSchemaPath = $('#addSchemaForm').find('input[id="txtSchemaPath"]').val();
                         //     var txtSchemaParent = $('#addSchemaForm').find('input[id="txtSchemaParent"]').val();
                             var  txtSchemaName = $(this).closest('form').find('input[id="txtSchemaName"]').val();
                              var txtSchemaPath = $(this).closest('form').find('input[id="txtSchemaPath"]').val();
                              var  txtSchemaParent = $(this).closest('form').find('input[id="txtSchemaParent"]').val();

                                 var  ddlAssetTypeValue = $(this).closest('form').find('select[id="AssetTypeDropdown_Add"]').val();
                                // alert(txtSchemaName +''+txtSchemaPath+""+txtSchemaParent  );
                                      //alert( $("#AssetTypeDropdown_Edit").val());
                                   //alert(ddlAssetTypeValue);
                                   if(ddlAssetTypeValue == "")
                                 {
                                      alert("Asset Type is mising. Please select AssetType.");
                                      return;
                                 }
                                   var  txtAssetItemSchema = $(this).closest('form').find('input[id="txtAssetItemSchema"]').val();
                                     alert("InsertAssetItemSchema" +txtAssetItemSchema);
                                      // alert("SaveSchema");
                                  //alert(ddlAssetTypeValue);

                              // alert(txtSchemaName +''+txtSchemaPath+""+txtSchemaParent  );
                               
                                        //alert(txtAssetItemSchema);
                                         var NewSchemaId='';

                                    $.ajax({
                                        type: "GET",
                                        url: "/ContentTree/SaveSchema", // PageName/MethodName
                                        //data: JSON.stringify(requestData),
                                                 data: { SchemaName: txtSchemaName, SchemaPath: txtSchemaPath,SchemaParent:txtSchemaParent , AssetTypeID:ddlAssetTypeValue },
                                        contentType: "application/json; charset=utf-8",
                                         dataType: "json",
                                           async: false,
                                        success: function (response) {
                                              NewSchemaId=response.newSchemaId;
                                              alert("SaveSchema"+response.newSchemaId);
                                         console.log("Success:", response);

                                            MessageSucess.css('display', 'block');
                                           MessageError.css('display', 'none');
                                                   //MessageSucess.style.display = "block";
                                               // MessageErrir.style.display= "none";
                                        
                                        //  console.log("Total records received: " + response.length);
                                        //     $.each(response, function(index, record) {
                                        //  // Access specific fields belonging to each record row
                                        //  console.log("Record ParentSchemaName: " + record.parentSchemaName);
                                        //   console.log("Record ParentSchemaID: " + record.parentSchemaID);
                                        //  console.log("Record ChildSchemaName: " + record.childSchemaName);
                                        //  console.log("Record ChildSchemaID: " + record.childSchemaID);

                                        // });
                
                                     },
                                  error: function (xhr, status, error) {
                                         MessageSucess.css('display', 'none');
                                            MessageError.css('display', 'block');

                                         // MessageSucess.style.display = "none";
                                               //  MessageErrir.style.display= "block";
                                 // Code to handle execution errors
                                         console.error("Error occurred:", error);
                                          //alert("Error occurred:" + error);
                                     }
                             });
                               if(txtAssetItemSchema !== "" || txtAssetItemSchema !== "NONE" && NewSchemaId != "")
                                     {
                                  alert("InsertAssetItemSchema NewSchemaId" +NewSchemaId);
                                    $.ajax({
                                         type: "GET",
                                          url: "/ContentTree/InsertAssetItemSchema", // PageName/MethodName
                                         //data: JSON.stringify(requestData),
                                                     data: { SchemaName: txtSchemaName, SchemaPath: txtSchemaPath,SchemaParent:txtSchemaParent , AssetTypeID:ddlAssetTypeValue,AssetItemSchema:txtAssetItemSchema, AssetItemSchemaMapped: NewSchemaId},
                                         contentType: "application/json; charset=utf-8",
                                          dataType: "json",
                                           async: false,
                                         success: function (response) {
                                            // alert("success");
                                          console.log("Success:", response);

                                             MessageSucess.css('display', 'block');
                                            MessageError.css('display', 'none');
                                                    //MessageSucess.style.display = "block";
                                                // MessageErrir.style.display= "none";

                                         //  console.log("Total records received: " + response.length);
                                         //     $.each(response, function(index, record) {
                                         //  // Access specific fields belonging to each record row
                                         //  console.log("Record ParentSchemaName: " + record.parentSchemaName);
                                         //   console.log("Record ParentSchemaID: " + record.parentSchemaID);
                                         //  console.log("Record ChildSchemaName: " + record.childSchemaName);
                                         //  console.log("Record ChildSchemaID: " + record.childSchemaID);

                                         // });

                                      },
                                   error: function (xhr, status, error) {
                                          MessageSucess.css('display', 'none');
                                             MessageError.css('display', 'block');

                                          // MessageSucess.style.display = "none";
                                                //  MessageErrir.style.display= "block";
                                  // Code to handle execution errors
                                          console.error("Error occurred:", error);
                                           //alert("Error occurred:" + error);
                                      }
                              });
                             }

                });

                   $('#btnCancelDelete').on('click', function(e) {
                        e.preventDefault();
                         e.stopPropagation();
                             //alert('btnCancelDelete' );
                           var MessageSucess=  $("#lblDeleteMessageSucess");
                           var MessageError=  $("#lblDeleteMessageError");
                           var deleteSchemaForm=  $("#deleteSchemaForm");
                             MessageError.css('display', 'none');
                              deleteSchemaForm.css('display', 'none');
                               MessageSucess.css('display', 'block');
                                   MessageSucess.html("<strong>Canceled. Your changes have been discarded.</strong>");
                                      MessageSucess.html("<strong>Cancellation successful. The Item has not been deleted.</strong>");
                                         //MessageSucess.html("Action canceled. The item was not deleted.");
                                           // MessageSucess.html("<strong>Operation canceled. No changes have been made.</strong>");


                                 //$("#mySpan").html("<strong>New HTML Content</strong>");

                         });

                    $('#btnDeleteSchema').on('click', function(e) {
                        e.preventDefault(); 
                        e.stopPropagation();
               // alert('btnEditSchema' );
                  // $("#btnEditSchemaFields").removeClass("fake-disabled-button");
                               var MessageSucess=  $("#lblDeleteMessageSucess");
                               var MessageError=  $("#lblDeleteMessageError");
                               var deleteSchemaForm=  $("#deleteSchemaForm");
                               MessageSucess.css('display', 'none');
                               MessageError.css('display', 'none');
                                MessageSucess.html("");

                             // MessageSucess.style.display = "none";
                           // MessageErrir.style.display= "none";


                   // $("#btnSaveSchema").addClass("fake-disabled-button");

                      //var inputValue = $('#username').val();
                      // addSchemaForm

                       //var parentForm = this.closest('form');
                         // alert(parentForm.id  );
                           // var txtSchemaName = $('#addSchemaForm').find('input[id="txtSchemaName"]').val();
                           //    var txtSchemaPath = $('#addSchemaForm').find('input[id="txtSchemaPath"]').val();
                           //     var txtSchemaParent = $('#addSchemaForm').find('input[id="txtSchemaParent"]').val();
                            var  txtSchemaID = $(this).closest('form').find('input[id="txtSchemaID"]').val();
                               // var  txtSchemaName = $(this).closest('form').find('input[id="txtSchemaName"]').val();
                               //  var txtSchemaPath = $(this).closest('form').find('input[id="txtSchemaPath"]').val();
                               //  var  txtSchemaParent = $(this).closest('form').find('input[id="txtSchemaParent"]').val();

                                // alert(txtSchemaName +''+txtSchemaPath+""+txtSchemaParent  );

                                   $.ajax({
                                          type: "GET",
                                           url: "/ContentTree/DeleteSchema", // PageName/MethodName
                                          //data: JSON.stringify(requestData),
                                                   data: { SchemaID: txtSchemaID},
                                          contentType: "application/json; charset=utf-8",
                                           dataType: "json",
                                          success: function (response) {
                                                 //alert(response.status);
                                                    //alert(response.error);
                                                     // alert(response.message);
                                                deleteSchemaForm.css('display', 'none');
                                               if (response.status == true) {
                                                    
                                                            
                                                            MessageSucess.css('display', 'block');
                                                            MessageError.css('display', 'none');
                                                            // MessageSucess.html("Schema has been deleted successfully");
                                                               MessageSucess.html(response.message);
                                                    } 
                                                    else {
                                                        
                                                            MessageSucess.css('display', 'none');
                                                            MessageError.css('display', 'block');
                                                            // MessageError.val("Opps! Error while deleting schema. " + response.error);
                                                               //MessageError.html(response.error);
                                                                  MessageError.html(response.message + " [ " + response.error +" ]");
       
                                                    }


                                              //alert("success");
                                          // alert("Success:", response);
                                             
                                                     

                                       },
                                    error: function (xhr, status, error) {
                                           MessageSucess.css('display', 'none');
                                              MessageError.css('display', 'block');
                                                  MessageError.val("Opps! Error while deleting schema.");

                                           // MessageSucess.style.display = "none";
                                                 //  MessageErrir.style.display= "block";
                                   // Code to handle execution errors
                                           console.error("Error occurred:", error);
                                           // alert("Error occurred:" + error);
                                       }
                               });

                  });


                  $('#btnEditSchema').on('click', function(e) {
         e.preventDefault(); // This stops the form from submitting and redirecting
             e.stopPropagation();
              // alert('btnEditSchema' );
                  //$("#btnEditSchemaFields").removeClass("fake-disabled-button");
                      var MessageSucess=  $("#lblEditMessageSucess");
                             var MessageError=  $("#lblEditMessageError");
                              MessageSucess.css('display', 'none');
                                 MessageError.css('display', 'none');

                            // MessageSucess.style.display = "none";
                          // MessageErrir.style.display= "none";


                  // $("#btnSaveSchema").addClass("fake-disabled-button");

                     //var inputValue = $('#username').val();
                     // addSchemaForm

                      //var parentForm = this.closest('form');
                        // alert(parentForm.id  );
                          // var txtSchemaName = $('#addSchemaForm').find('input[id="txtSchemaName"]').val();
                          //    var txtSchemaPath = $('#addSchemaForm').find('input[id="txtSchemaPath"]').val();
                          //     var txtSchemaParent = $('#addSchemaForm').find('input[id="txtSchemaParent"]').val();
                           var  txtSchemaID = $(this).closest('form').find('input[id="txtSchemaID"]').val();
                             alert("txtSchemaID"+txtSchemaID);
                              var  txtSchemaName = $(this).closest('form').find('input[id="txtSchemaName"]').val();
                               
                                const innerElement = editdiv.querySelector('h2 span');
                                 alert(innerElement.innerHTML);

                               var txtSchemaPath = $(this).closest('form').find('input[id="txtSchemaPath"]').val();
                               var  txtSchemaParent = $(this).closest('form').find('input[id="txtSchemaParent"]').val();
                                var  ddlAssetTypeValue = $(this).closest('form').find('select[id="AssetTypeDropdown_Edit"]').val();
                                      var  txtAssetItemTreeeID = $(this).closest('form').find('input[id="txtAssetItemTreeeID"]').val();
                                  alert("txtAssetItemTreeeID "+txtAssetItemTreeeID  );
                                     //alert( $("#AssetTypeDropdown_Edit").val());
                                  //alert(ddlAssetTypeValue);
                                  if(ddlAssetTypeValue == "")
                                {
                                     alert("Asset Type is mising. Please select AssetType.");
                                     return;
                                }
                                  var  txtAssetItemSchema = $(this).closest('form').find('input[id="txtAssetItemSchema"]').val();
                                   alert("txtAssetItemSchema"+txtAssetItemSchema);
                                    

                             
                                      //alert("UpdateSchema");
                                  $.ajax({
                                         type: "GET",
                                          url: "/ContentTree/UpdateSchema", // PageName/MethodName
                                         //data: JSON.stringify(requestData),
                                                  // data: { SchemaID: txtSchemaID,  SchemaName: txtSchemaName, SchemaPath: txtSchemaPath,SchemaParent:txtSchemaParent , AssetTypeID:ddlAssetTypeValue},
                                         data: { SchemaID: txtAssetItemTreeeID,  SchemaName: txtSchemaName, SchemaPath: txtSchemaPath,SchemaParent:txtSchemaParent , AssetTypeID:ddlAssetTypeValue},
                                                   contentType: "application/json; charset=utf-8",
                                          dataType: "json",
                                         success: function (response) {
                                             //alert("success");
                                         // alert("Success:", response);
                                         
                                             MessageSucess.css('display', 'block');
                                            MessageError.css('display', 'none');
                                                    //MessageSucess.style.display = "block";
                                                // MessageErrir.style.display= "none";

                                         //  console.log("Total records received: " + response.length);
                                         //     $.each(response, function(index, record) {
                                         //  // Access specific fields belonging to each record row
                                         //  console.log("Record ParentSchemaName: " + record.parentSchemaName);
                                         //   console.log("Record ParentSchemaID: " + record.parentSchemaID);
                                         //  console.log("Record ChildSchemaName: " + record.childSchemaName);
                                         //  console.log("Record ChildSchemaID: " + record.childSchemaID);

                                         // });

                                      },
                                   error: function (xhr, status, error) {
                                          MessageSucess.css('display', 'none');
                                             MessageError.css('display', 'block');

                                          // MessageSucess.style.display = "none";
                                                //  MessageErrir.style.display= "block";
                                  // Code to handle execution errors
                                          console.error("Error occurred:", error);
                                          // alert("Error occurred:" + error);
                                      }
                              });
                              if(txtAssetItemSchema !== "" || txtAssetItemSchema !== "NONE")
                                 {

                                   alert("UpdateAssetItemSchema");
                                     alert("txtSchemaID"+txtSchemaID);
                                   $.ajax({
                                          type: "GET",
                                           url: "/ContentTree/UpdateAssetItemSchema", // PageName/MethodName
                                          //data: JSON.stringify(requestData),
                                                        data: { SchemaID: txtSchemaID,  SchemaName: txtSchemaName, SchemaPath: txtSchemaPath,SchemaParent:txtSchemaParent , AssetTypeID:ddlAssetTypeValue,AssetItemSchema:txtAssetItemSchema,AssetItemSchemaMapped:txtAssetItemTreeeID},
                                          contentType: "application/json; charset=utf-8",
                                           dataType: "json",
                                          success: function (response) {
                                              //alert("success");
                                          // alert("Success:", response);

                                              MessageSucess.css('display', 'block');
                                             MessageError.css('display', 'none');
                                                     //MessageSucess.style.display = "block";
                                                 // MessageErrir.style.display= "none";

                                          //  console.log("Total records received: " + response.length);
                                          //     $.each(response, function(index, record) {
                                          //  // Access specific fields belonging to each record row
                                          //  console.log("Record ParentSchemaName: " + record.parentSchemaName);
                                          //   console.log("Record ParentSchemaID: " + record.parentSchemaID);
                                          //  console.log("Record ChildSchemaName: " + record.childSchemaName);
                                          //  console.log("Record ChildSchemaID: " + record.childSchemaID);

                                          // });

                                       },
                                    error: function (xhr, status, error) {
                                           MessageSucess.css('display', 'none');
                                              MessageError.css('display', 'block');

                                           // MessageSucess.style.display = "none";
                                                 //  MessageErrir.style.display= "block";
                                   // Code to handle execution errors
                                           console.error("Error occurred:", error);
                                           // alert("Error occurred:" + error);
                                       }
                               });
                            }

                 });

                  function getSchema( IDSchema ) {
                      //alert(IDSchema);

                           var MessageSucess=  $("#lblEditMessageSucess");
                            var MessageError=  $("#lblEditMessageError");
                             MessageSucess.css('display', 'none');
                            MessageError.css('display', 'none');

                             $("#editSchemaForm #txtSchemaID").val('');
                              $("#editSchemaForm #txtSchemaName").val('');
                              $("#editSchemaForm #txtSchemaPath").val('');
                              $("#editSchemaForm #txtSchemaParent").val('');
                              $('#editSchemaForm #AssetTypeDropdown_Edit').val('0');
                              $("#editSchemaForm #txtAssetItemSchema").val('');
                               $("#editSchemaForm #txtAssetItemTreeeID").val(IDSchema);

                            // alert("getSchema");
                $.ajax({
                 type: "GET",
                  url: "/ContentTree/GetSchema", // PageName/MethodName
                 //data: JSON.stringify(requestData),
                 data: { SchemaID: IDSchema },
                 contentType: "application/json; charset=utf-8",
                 dataType: "json",
                 success: function (response) {
                      //alert("success");
                      //alert("Success:", response);
                        // alert("Total records received: " + response.length);
                       $.each(response, function(index, record) {
                                 // Access specific fields belonging to each record row
                                   //alert("Record ID: " + record.id);
                                    //alert("Record SchemaName: " + record.schemaName);
                                    //alert("Record SchemaPath: " + record.schemaPath);
                                   // alert("Record ParentID: " + record.parentID);

                                       $("#editSchemaForm #txtSchemaID").val(record.id);
                                           $("#editSchemaForm #txtSchemaName").val(record.schemaName);
                                             $("#editSchemaForm #txtSchemaPath").val(record.schemaPath);
                                               $("#editSchemaForm #txtSchemaParent").val(record.parentID);
                                               if(record.assetTypeID !='')
                                               {
                                                 $('#editSchemaForm #AssetTypeDropdown_Edit').val(record.assetTypeID);
                                               }
                                               else
                                               {
                                                     $('#editSchemaForm #AssetTypeDropdown_Edit').val(0);
                                               }
                                                      
                                                        // alert("assetTypeID" +record.assetTypeID);
                                                       // alert(record.assetTypeID);
                                                          $("#editSchemaForm #txtAssetItemSchema").val(record.assetItemSchema);
                                                             //alert("assetItemSchemaMapped" +record.assetItemTreeeID);
                                                            
                                                                 $("#editSchemaForm #txtAssetItemTreeeID").val(record.assetItemTreeeID);
                                                                 
                                                             //alert(record.assetItemSchema);
                                                           //alert("inside getSchema");
                                                            //alert(assetItemSchema);
                                                              // $("#editSchemaForm #txtAssetItemSchema").val(record.assetItemSchema);
                                                        //alert(record.assetTypeID);
                                                      // alert($('#editSchemaForm #AssetTypeDropdown_Edit').val());

                                // var childCount= checkChildCount( IDSchema );
                                // if(childCount>0)
                                // {
                                //  var myUl = $("#myUL").find("#" + IDSchema);

                                // myUl.append("<li><span tag='100' class='caret default-color'>"+record.childSchemaName+"</span>");
                                // myUl.append("<ul id='"+record.childSchemaID+ "' class='nested'>");
                                // myUl.append("</ul");
                                // }
                                // else
                                // {
                                     // myUl.append("<li><span id='"+record.childSchemaID+ "' tag='"+record.childSchemaID+ "' onclick=GetChildOfSelected('" + record.childSchemaID + "'); class='caretli'>"+record.childSchemaName+"</span></li>");
                                //}

                          });
                 // Code to handle successful server response
                 //console.log("Success:", response);
                        // alert(response.message + " Status is: " + response.currentStatus);
                      },
                  error: function (xhr, status, error) {
                 // Code to handle execution errors
                         console.error("Error occurred:", error);
                         // alert("Error occurred:" + error);
                     }
             });


         }
           function IsAssetItemSchemaType( IDSchema, RecordCount ) {

                            // var MessageSucess=  $("#lblEditMessageSucess");
                            //  var MessageError=  $("#lblEditMessageError");
                            //   MessageSucess.css('display', 'none');
                            //  MessageError.css('display', 'none');
                 $.ajax({
                  type: "GET",
                   url: "/ContentTree/GetSchema", // PageName/MethodName
                  //data: JSON.stringify(requestData),
                  data: { SchemaID: IDSchema },
                  contentType: "application/json; charset=utf-8",
                  dataType: "json",
                  success: function (response) {
                       //alert("success");
                       //alert("Success:", response);
                         RecordCount= response.length;
                           alert("Total records received: " + RecordCount);
                        $.each(response, function(index, record) {
                                        $("#editSchemaForm #txtSchemaID").val(record.id);
                           });
                       },
                   error: function (xhr, status, error) {
                          console.error("Error occurred:", error);
                           alert("Error occurred:" + error);
                      }
              });
          }
        $('#btnAddSchemaFields').on('click', function(e) {
         e.preventDefault(); // This stops the form from submitting and redirecting
             e.stopPropagation();
              alert('addfieldschema' );
                  $("#btnSaveSchema").addClass("fake-disabled-button");

                    const currentitemid = e.target.getAttribute('itemid');
                  //$("#btnAddSchemaFields").removeClass("fake-disabled-button");
     });


     //  function  saveSchema() {
     //        e.preventDefault();
     //       e.stopPropagation();
     //        alert('saveSchema' );
     //          $("btnAddSchemaFields").removeClass("fake-disabled-button");
              

     //        //<button  id ="btnAddSchemaFields" onclick="addFieldsSchema()" class="fake-disabled-button" >Add Fields</button>
              
     //           return false;
     // };

    

     function  GetChildOfSelectedUL(childSchemaID) {
        //alert('GetChildOfSelectedUL event' +childSchemaID);
        //var toggler = document.getElementById(childSchemaID);
      // toggler.removeEventListener("contextmenu");
        getDbData( childSchemaID );
        addEventListener_caret(childSchemaID);
        ViewContentItem(childSchemaID) ;
      //alert('GetChildOfSelectedUI event' +childSchemaID);
    };

     function GetChildOfSelected1(childSchemaID) {
        //alert('GetChildOfSelected event' );

    };

     function addEventListener_caret(childSchemaID) {

         //e.preventDefault();
         //e.stopPropagation();
           var toggler = document.getElementById(childSchemaID);
            //alert("addEventListener_caret"+toggler.getAttribute("id"));

        const contextMenu = document.getElementById("contextMenu");
        const editdiv = document.getElementById("editdiv");
        const removediv = document.getElementById("removediv");

        //var toggler = document.getElementsByClassName("caret");
        var i;
       // for (i = 0; i < toggler.length; i++) {
           // toggler[i].addEventListener("click", function (e) {
                toggler.parentElement.querySelector(".nested").classList.toggle("active");
                 //toggler.parentElement.querySelector(".nested").classList.add("active");
                // toggler.classList.toggle("active");
                toggler.classList.toggle("caret-down");
                //alert("add listener")
                const idSchema = toggler.getAttribute('id');
               //alert("add listener" +idSchema)

               const allchildLi = toggler.parentElement.querySelectorAll('ul li');
              // alert("allchildLi" +allchildLi)
               //alert("allchildLi length" +allchildLi.length)

               allchildLi.forEach(span => {
                    //span.classList.remove('highlight');
                     span.remove();
                     //alert("allchildLi remove" +allchildLi)
                });
                 getDbData(childSchemaID);
                const spans = document.querySelectorAll('span.highlight');
                spans.forEach(span => {
                    span.classList.remove('highlight');
                });
               // toggler.classList.toggle("highlight");
                if (toggler) {
                      // alert(togglerli.getAttribute("id"));
                     toggler.classList.add('highlight');
                      setupcontextmenu(toggler);
                    }
   // return;
                //for (i = 0; i < toggler.length; i++) {
                //    toggler[i].removeEventListener("click", function () {
                //        alert('remove event listener');
                //    });
                //}



                // const spans1 = document.querySelectorAll('span.highlight');
                // spans1.forEach(span => {
                //      //alert('inside span highlight')
                //     //span.classList.remove('highlight');
                //     //removefromcontextmenu(this);

                //     setupcontextmenu(this);

                // });

           // });
        //}

     }
     function ViewContentItem( currentitemid) {
          //$("#btnEditSchemaFields").removeClass("fake-disabled-button");
                            closeAllViewPanels();
                            editdiv.style.display = "block";
                              const innerElement = editdiv.querySelector('h2 span');
                              var content=$("#" +currentitemid).html();
                            //innerElement.innerHTML = currentitemid;
                            // innerElement.innerHTML = content+ " {" +currentitemid +"}";
                               innerElement.innerHTML = "<span style=\"color:red;\">" + content+"</span> <span style=\" font-size:0.6em !important;font-style:italic !important;\" >{ Content Tree ID -" +currentitemid +"}</span>";
                              getSchema( currentitemid );
                            //$("#editSchemaForm #txtSchemaName").val(content);
                            //const innerElement = editdiv.querySelector('h2 span');
                           //editdiv.innerHTML ="<h2>Edit selected item - <span>"+ currentitemid +" </span></h2>";
                           // removediv.style.display = "none";
                          // duplicatediv.style.display = "none";
                          //alert('inside div - ' + currentid +' and item id -'+ currentitemid);
                        
               }


     function addEventListener_caretli(childSchemaID) {
         // e.preventDefault();
         //e.stopPropagation();
          var togglerli = document.getElementById(childSchemaID);

          //alert(togglerli.getAttribute("id"));
       // var j;

      //  for (j = 0; j < togglerli.length; j++) {
            //togglerli.addEventListener("click", function () {
               // alert('inside caretli')
                //this.parentElement.querySelector(".nested").classList.toggle("active");
                //this.classList.toggle("caret-down");
                const spans = document.querySelectorAll('span.highlight');
                // 2. Loop through each span and remove the class
                spans.forEach(span => {
                    span.classList.remove('highlight');
                });

                //togglerli.classList.toggle("highlight");
                  if (togglerli) {
                      // alert(togglerli.getAttribute("id"));
                     togglerli.classList.add('highlight');
                    }
               
                setupcontextmenu(togglerli);

                return;
               
     }

        //************************ */

         if(IDSchema ="4FDB8DDB-C19C-4DCA-AD64-5C2A52F969DE")
            {
           
                const contextMenu = document.getElementById("contextMenu");
                const editdiv = document.getElementById("editdiv");

                const removediv = document.getElementById("removediv");



                var toggler = document.getElementsByClassName("caret");
                var i;
                for (i = 0; i < toggler.length; i++) {
                    toggler[i].addEventListener("click", function (e) {
                        this.parentElement.querySelector(".nested").classList.toggle("active");
                        this.classList.toggle("caret-down");
                        const idSchema = this.getAttribute('id');

                       const allchildLi = this.parentElement.querySelectorAll('ul li');
              
                       allchildLi.forEach(span => {
                             span.remove();
                        });
                         getDbData(idSchema);
                        const spans = document.querySelectorAll('span.highlight');
                        spans.forEach(span => {
                            span.classList.remove('highlight');
                        });
                        this.classList.toggle("highlight");
                        const spans1 = document.querySelectorAll('span.highlight');
                        spans1.forEach(span => {
                            setupcontextmenu(this);

                        });
                        ViewContentItem(idSchema) ;

                    });
                }
                  
        }

        // var togglerli = document.getElementsByClassName("caretli");
        // var j;
        // for (j = 0; j < togglerli.length; j++) {
        //     togglerli[j].addEventListener("click", function () {
        //         alert('inside caretli')
        //         const spans = document.querySelectorAll('span.highlight');
        //         spans.forEach(span => {
        //             span.classList.remove('highlight');
        //         });

        //         this.classList.toggle("highlight");
        //         const spans1 = document.querySelectorAll('span.highlight');
        //         spans1.forEach(span => {
        //             setupcontextmenu(this);
        //         });
        //     });
        // }

        function removefromcontextmenu(element) {
            //alert('remove event');
            element.removeEventListener("contextmenu", function (e) {
                e.preventDefault();
                contextMenu.style.display = "none";
            });
        };

        function closeAllViewPanels()
        {
                        editdiv.style.display = "none";
                            removediv.style.display = "none";
                            duplicatediv.style.display = "none";
                            refreshdiv.style.display = "none";
                            adddiv.style.display = "none";
        }

        function setupcontextmenu(element) {
                if (!element.dataset.hasClickListener) {
            // alert("inside hasClickListener");
            //element.on("contextmenu", function (e) {
            element.addEventListener("contextmenu", function (e) {
                  //alert("setupcontextmenu");
                  e.stopPropagation();
                e.preventDefault(); // Prevent default browser menu
                const currenttag = e.target.getAttribute('tag');
                //alert(currenttag);
                 const curid = e.target.getAttribute('id');
                // Position menu at mouse location
                contextMenu.style.top = `${e.clientY}px`;
                contextMenu.style.left = `${e.clientX}px`;
                contextMenu.style.display = "block";
                const listItems = contextMenu.querySelectorAll('ul li');
                closeAllViewPanels();

                listItems.forEach((li, index) => {

                    li.setAttribute('itemid', currenttag);
                   if (!li.dataset.hasClickListener) {
                    li.addEventListener("click", function (e) {
                        e.preventDefault(); // Prevent default browser menu
                         e.stopPropagation();
                       const currentitemid = e.target.getAttribute('itemid');
                        //const currentitemid = e.target.getAttribute('id');
                       // alert(currentitemid);
                        const currentid = e.target.getAttribute('id');
                        if (currentid == 'add_li') {
                            adddiv.style.display = "block";
                            const innerElement = adddiv.querySelector('h2 span');
                            //innerElement.innerHTML = currentitemid;
                              var content=$("#" +currentitemid).html();
                                 innerElement.innerHTML = "<span style=\"color:red;\">" + content+"</span> <span style=\" font-size:0.6em !important;font-style:italic !important;\" >{Content Tree ID - " +currentitemid +"}</span>";
                                 //innerElement.innerHTML = content+ " {" +currentitemid +"}";
                              //$("#btnAddSchemaFields").addClass("fake-disabled-button");
                              var innerSchemaPathElement = adddiv.querySelector('#txtSchemaParent');
                             //innerSchemaPathElement.setAttribute("val" ,currentitemid);
                             //innerSchemaPathElement.innerHTML= currentitemid;
                            // innerSchemaPathElement.val(currentitemid) ;

                                $('#addSchemaForm').find('button[id="btnAddSchemaFields"]').addClass("fake-disabled-button");
                                  $('#addSchemaForm').find('input[id="txtSchemaName"]').val('');
                                       $('#addSchemaForm').find('label[id="txtSchemaPath"]').val('');
                                           $('#addSchemaForm').find('input[id="txtSchemaParent"]').val(currentitemid);

                                             $('#addSchemaForm').find('select[id="AssetTypeDropdown_Add"]').val('0');
                                                $('#addSchemaForm').find('input[id="txtAssetItemSchema"]').val('');

                                           // $('#addSchemaForm').find('input[id="txtSchemaParent"]').val('');
                                          // $('#lblAddMessageSucess').val('');
                                            // $('#lblAddMessageError').val('');

                                           var MessageSucess=  $("#lblAddMessageSucess");
                                           var MessageError=  $("#lblAddMessageError");
                                           MessageSucess.css('display', 'none');
                                           MessageError.css('display', 'none');

                                            // $('#addSchemaForm').find('input[id="txtSchemaName"]').val('');
                              // $("#addSchemaForm #txtSchemaName").val('');
                                //$("#addSchemaForm #txtSchemaPath").val('');
                                  // $("#addSchemaForm #lblAddMessageSucess").val('');
                                   //  $("#addSchemaForm #lblAddMessageError").val('');
                                // $("#addSchemaForm #txtSchemaParent").val(currentitemid);
                                     //alert( $('#lblAddMessageSucess').innerHtml);
                             //alert(innerSchemaPathElement.innerHTML);
                             //alert($("#addSchemaForm #schemaParent").val());
                            //editdiv.innerHTML ="<h2>Edit selected item - <span>"+ currentitemid +" </span></h2>";
                            // editdiv.style.display = "none";
                            // removediv.style.display = "none";
                            // duplicatediv.style.display = "none";
                            // refreshdiv.style.display = "none";
                            // adddiv.style.display = "none";

                            //alert('inside div - ' + currentid +' and item id -'+ currentitemid);
                        }
                        if (currentid == 'refresh_li') {
                            refreshdiv.style.display = "block";
                            const innerElement = refreshdiv.querySelector('h2 span');
                            innerElement.innerHTML = currentitemid;

                            //editdiv.innerHTML ="<h2>Edit selected item - <span>"+ currentitemid +" </span></h2>";
                            // removediv.style.display = "none";
                            // duplicatediv.style.display = "none";
                             //alert(innerElement.innerHTML);
                            //alert('inside div - ' + currentid +' and item id -'+ currentitemid);
                        }
                        if (currentid == 'edit_li') {
                            editdiv.style.display = "block";
                            //const innerElement = editdiv.querySelector('h2 span');
                            //innerElement.innerHTML = currentitemid;
                               $("#editSchemaForm #txtSchemaName").val('');
                                  $("#editSchemaForm #txtSchemaPath").val('');
                                      $("#editSchemaForm #lblEditMessageSucess").val('');
                                       $("#editSchemaForm #lblEditMessageError").val('');
                                         $('#editSchemaForm').find('select[id="AssetTypeDropdown_Add"]').val('0');
                                         $('#editSchemaForm').find('input[id="txtAssetItemSchema"]').val('');
                                   $("#editSchemaForm #txtSchemaParent").val(currentitemid);
                              //alert($("#addSchemaForm #lblEditMessageSucess").val());

                               //$('#editSchemaForm').find('button[id="btnAddSchemaFields"]').removeClass("fake-disabled-button");
                                            var MessageSucess=  $("#lblEditMessageSucess");
                                            var MessageError=  $("#lblEditMessageError");
                                            MessageSucess.css('display', 'none');
                                            MessageError.css('display', 'none');
                                             alert(currentitemid);
                                            getSchema( currentitemid );
                                       
                                            var content=$("#" +currentitemid).html();
                                              //$("#editSchemaForm #txtSchemaName").val(content);
                                                 const innerElement = editdiv.querySelector('h2 span');
                                              innerElement.innerHTML = content+ " {" +currentitemid +"}";
                                                 innerElement.innerHTML = "<span style=\"color:red;\">" + content+"</span> <span style=\" font-size:0.6em !important;font-style:italic !important;\" > {ContentTree ID -" +currentitemid +"}</span>";

                                               // alert(innerElement.innerHTML);

                               // $("#editSchemaForm #txtSchemaID").val(currentitemid);
                            // alert(innerElement.innerHTML);
                            //editdiv.innerHTML ="<h2>Edit selected item - <span>"+ currentitemid +" </span></h2>";
                            // removediv.style.display = "none";
                            // duplicatediv.style.display = "none";

                            //alert('inside div - ' + currentid +' and item id -'+ currentitemid);
                        }
                        if (currentid == 'remove_li') {
                             removediv.style.display = "block";
                            // editdiv.style.display = "none";
                            // duplicatediv.style.display = "none";
                            
                              // $("#deleteSchemaForm #txtSchemaName").val('');
                              //      $("#deleteSchemaForm #txtSchemaPath").val('');
                              //          $("#deleteSchemaForm #lblEditMessageSucess").val('');
                              //           $("#deleteSchemaForm #lblEditMessageError").val('');
                                     $("#deleteSchemaForm #txtSchemaID").val(currentitemid);
                               //alert($("#addSchemaForm #lblEditMessageSucess").val());


                                             var MessageSucess=  $("#lblDeleteMessageSucess");
                                             var MessageError=  $("#lblDeleteMessageError");
                                             
                                              // alert("inside delete");
                                             var deleteSchemaForm=  $("#deleteSchemaForm");
                                             deleteSchemaForm.css('display', 'block');
                                              MessageSucess.css('display', 'none');
                                              MessageError.css('display', 'none');
                                              MessageSucess.html("");
                                                MessageError.html("");
                                                 // MessageSucess.text('');
                                                 //  MessageError.text('');

                                                 //    MessageSucess.empty();
                                                 //     MessageError.empty();

                                             var content=$("#" +currentitemid).html();
                                             $("#deleteSchemaForm #txtSchemaName").val(content);
                                              const innerElement = removediv.querySelector('h2 span');
                                             //innerElement.innerHTML = content+ " {" +currentitemid +"}";
                                               innerElement.innerHTML = "<span style=\"color:red;\">" + content+"</span> <span style=\" font-size:0.6em !important;font-style:italic !important;\" >{" +currentitemid +"}</span>";
                             
                               

                             //alert(innerElement.innerHTML);
                            //alert('inside div -' + currentid +' and item id -'+ currentitemid);

                        }
                        if (currentid == 'duplicate_li') {
                             duplicatediv.style.display = "block";
                            // editdiv.style.display = "none";
                            // removediv.style.display = "none";
                           
                            const innerElement = duplicatediv.querySelector('h2 span');
                            innerElement.innerHTML = currentitemid;
                             //alert(innerElement.innerHTML);
                            //alert('inside div -' + currentid +' and item id -'+ currentitemid);
                        }
                         contextMenu.style.display = "none";
                    });
                      li.dataset.hasClickListener = "true";
                   }// end of !li.dataset.hasClickListener
                });
            });
          }
           element.dataset.hasClickListener = "true"; //end of !element.dataset.hasClickListener
        }




    </script>
    <script>


        // Show custom menu on right-click
        document.addEventListener("contextmenu1", function (e) {
            e.preventDefault(); // Prevent default browser menu

            // Position menu at mouse location
            contextMenu.style.top = `${e.clientY}px`;
            contextMenu.style.left = `${e.clientX}px`;
            contextMenu.style.display = "block";
        });

        // Hide menu on click elsewhere
        document.addEventListener("click", function () {
            contextMenu.style.display = "none";
        });

        // Prevent menu from going off-screen
        window.addEventListener("resize", () => {
            contextMenu.style.display = "none";
        });
    </script>
<script src="/js/custom/dynamicAssetTypeDropdown.js"></script>
<script src="/js/custom/dynamicSchemaFields.js"></script>
<script src="/js/custom/dynamicSchemaPopup.js"></script>


    

