<h2>Dynamically model name - @Model.Name</h2>
<h2>Dynamically model city - @Model.Genre</h2>
.Address.City

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>