USE [DynamicContentFour]
GO
/****** Object:  StoredProcedure [dbo].[dca_curd_asset_fields_type]    Script Date: 7/6/2026 8:32:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
alter  PROCEDURE [dbo].[dca_curd_page_render]
    @AssetItemPath varchar(500) ='',
     @Query int
	
AS
BEGIN
Declare @AssetItemId as Varchar(500)
set @AssetItemId=(Select Top 1 ID from AssetItem where ItemPath=@AssetItemPath)

if(@Query=1)
    begin
        select ait.ID, ait.ItemPath, ait.ItemName, ait.SchemaID, ait.IsPageItem, ait.MasterPageLayoutPath 
        from assetitem ait
        where ait.ID=@AssetItemId
    end 
if(@Query=2)
    begin
        select aif.AssetItemID, aif.AssetSchemaID , ass.SchemaName as AssetFieldName,aif.AssetFieldID, aif.AssetFieldValue
        from  AssetItemFields aif
        inner join AssetSchema ass
        on aif.AssetFieldID= ass.ID
        where  aif.AssetItemID=@AssetItemId
    end

if(@Query=3)
    begin
        select cp.id as ComponentID, cp.AssetItemID, cp.ComponentPath, cp.LinkedAssetItem, cp.PlaceholderPath from ComponentPresentation cp where cp.AssetItemID= @AssetItemId
     end 
   
END;
--exec dca_curd_page_render @AssetItemPath = '/UniversalCMS/Content/Article First',@Query =1
--exec dca_curd_page_render @AssetItemPath = '/UniversalCMS/Content/Article First',@Query =2
--exec dca_curd_page_render @AssetItemPath = '/UniversalCMS/Content/Article First',@Query =3